#menuhome>div
	margin -5px 10px

#menuhome>div li 
	padding 5px 10px

#menuhome>div#circuitos li>img
	width auto
	height 35px

#listadoalojar, 
#destaalojar,
#empresas
	margin 20px 0 
#listadoalojar li ,
#destaalojar li 
	padding 0px 10px
#empresas li
	padding 5px 10px

#paginas img 
	width 100%
	height auto
#formulario
	margin 0 2px
	padding 5px
	background #92C6FA

#fichas h2 
	color #FF8040

.error 
	border #FF0000 1px solid
	background #FFF4CE

.ui-page
	background url(http://sanrafaellate.com.ar/imagenes/fonmob.jpg) no-repeat 100%
	background-position 0 0

#content_map
	width 100%
	height 400px
	position relative

#map
	width 100%
	height 100%
	position absolute 