body, html { width: 100%; height: 100%; background-color: #c8e1f6; margin: 0; padding: 0;}
#fondo {width: 100%; height: 100%; overflow: hidden;}
#fondo img{width: 100%;height: 100%;}
#error {width: 40%; padding: 20px; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px;  background:#FFF; background-color: rgba(255,255,255,0.93); position: absolute; top: 15%; left:50%; margin-left:-20%; box-shadow: 2px 2px 4px #666;}
#error h1 {font-family: tahoma; font-size: 28px; color: #768932; text-shadow: 1px 1px 2px #222; }
#error p {font-family: tahoma; font-size: 16px; color: #222;}