
//VARIABLES UTIIZABLES 

verde-titulos=#96A929;


#general,body,html
  width 100%

#slidercontent
  width 100% !important
  position relative
  padding 0
  height auto
  max-height 420px !important
  overflow hidden

#contenedor
  width 1000px
  height 800px

#contenedorhome
  width 100%
  background-color #eee
  position relative

#contenedor2
  width 100%
  background-color #fff
  position relative
  padding 88px 0 20px 0
  & > div#titulos
    width 100%
    padding 10px 0px 10px 0px
    background-color #96A929;

#titulos
  & > div
  h1
    color #FFF
    font-size 35px
    padding 8px
    margin 0px
    font-weight 500
    font-family "Oxygen", tahoma
  p
    &.estasaqui
      color #FFF
      font-size 14px
      padding 8px
      margin 0px
      font-weight 200
      font-family tahoma
      a
        color #FFF
        font-size 14px
        padding 8px
        margin 0px
        font-weight 200
        font-family tahoma
        text-decoration underline
        &:hover
          text-decoration none
  span
    &.here
      background-color #556017; padding: 5px; color:#EAEBE7

#divHeader
  height 110px
  padding 3px

.pru
  background-color red
  width 100%

.clear

#myCarousel
  padding 0
  z-index 2
  width 100%
  height 350px
  img
    width 100%
    height 350px
    margin 0

.fixed
  background-color rgba(255,255,255,.8)
  z-index 999
  box-shadow 0 5px 7px #ccc
  -moz-box-shadow 0 5px 7px #666
  -webkit-box-shadow 0 5px 7px #666
  behavior url(PIE.htc)
  top 0 !important

.nofixed
  background-color #FFF
  width 100%
  position absolute
  top 20px

#menu2
  width 100%
  background-color #000
  position fixed
  top 0px
  padding-bottom 10px
  left 0
  & > div
    width 83%
    min-width 990px
    position relative
    background-color 
    & > ul
      padding 5px 0
      margin 0 0 0 30px
      & > a
        & > img
          display inline-block
          margin 3px 40px 3px 0
          vertical-align top
      & > li
        &.menuss
          display inline-block
          bottom 0
          vertical-align bottom
          list-style none
          padding 20px 12px 10px 15px
          margin 5px 12px 0px 12px
          color #FFF
          span
            &.title
              font-size 20px
              padding 1px 0
              margin 0
              font-family "Oxygen", calibri
            &.info
              font-size 10px
              line-height 11px
              font-family arial
          &:hover
            color #FF6803
        
.logo
  width 150px
  height: auto

#menu2-2
  width 100%
  height 110px
  background-color #FFF
  position fixed
  top 0
  left 0
  & > div
    width 83%
    min-width 990px
    position relative
    height 110px
    background-color 
    & > ul
      padding 5px 0
      margin 0 0 0 30px
      & > a
        & > img
          display inline-block
          margin 8px 40px 10px 0
          vertical-align top
          height 80px
      & > li
        &.menuss
          display inline-block
          bottom 0
          max-width 140px
          border-right 1px #eee solid
          list-style none
          padding 0 10px
          height 70px
          margin 25px 10px 10px 10px
          color #222
          span
            &.title
              font-size 16px
              padding 1px 0
              margin 0
              font-family arial
            &.info
              font-size 10px
              line-height 11px
              font-family arial
          &:hover
            color #FF6803

.submenu
  padding 7px
  background-color #FFF
  box-shadow -3px 5px 5px #666
  -moz-box-shadow -3px 5px 5px #666
  -webkit-box-shadow -3px 5px 5px #666
  position absolute
  box-sizing border-box
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  -o-box-sizing border-box
  -ms-box-sizing border-box
  behavior url(PIE.htc)
  z-index 9999
  top 73px

div
  &.submenu
    ul
      padding 0
      margin 0
    & > div
      border 0 1px 0 1px solid #eee
      vertical-align top
      display inline-block
    a
      font-family arial
      font-size 12px
      color #222
      &:hover
        color #FF6803
    h2
      font-family Arial,Helvetica,sans-serif
      font-size 16px
      margin 0
      padding 5px 0
      color #222
    img
      &.ico
        vertical-align middle
        margin 4px
        width 16px
        height auto
  &.carusell
    img
      width 100%
    h3
      margin 0
      padding 3px 0
      font-family arial
      font-size 15px
      color #FFF
      a
        margin 0
        padding 3px 0
        font-family arial
        font-size 15px
        color #FFF
        
    p
      margin 0
      padding 3px 0
      font-family arial
      font-size 10px
      &.fecha
        margin 0
        padding 3px 0
        font-family arial
        font-size 26px
        font-weight 700
        color #919F39
  &.vistaActualMap
    margin 15px 0
    padding 8px
    border-radius 7px
    -moz-border-radius 7px
    -webkit-border-radius 7px
    background-color #D3E8BF
    color #666
    font-family tahoma
    a
  &.ui-datepicker

div.submenu>div>ul li,div.submenu>ul li
  margin 5px

.floatLeft

.floatRight

#imagen_fondo
  width 100%
  img
    width 100%
    height auto

.border_rigth
  height 220px

ul
  &.twocolum
    li
      display inline-block

#descubrela
  .submenu
    left 0

}
  #nav_alojamiento
    .submenu
      margin-left -50px
      width 50%
  @-moz-keyframes
    mymove
      0% {
	opacity 1
  #promociones
    width 100%
    max-width 240px
    margin 10px 0
    background-color #ECF0D5
    padding 5px
    border-radius 7px
    -webkit-border-radius 5px
    -moz-border-radius 5px

#alojamiento
  li
    a
      font-size 14px

#preptuviaje
  .submenu

#quehacer
  .submenu
    left 0px

#tAventura
  width 30%

#buscador_a
  width 250px

#bAlojar
  background-color #DCEA8E
  margin 0 0 2px
  padding 8px
  h2
    font-size 20px
    font-family Tahoma
    color #81931C
    margin 4px 0
  input
    background #FFF
    width 100%
    height 17px
    padding 4px
    border 1px #666 solid
    margin 4px 0 0 2px
    border-radius 4px
    -moz-border-radius 4px
    -webkit-border-radius 4px
    behavior url(PIE.htc)
    font-size 12px
    font-family Tahoma
  label
    font-size 12px
    font-family Tahoma
    color #222
  p
    font-size 10px
    font-family Tahoma
    color #222
    margin 0
  div
    padding 3px 5px
  button
    font-family Arial,Helvetica,sans-serif
    font-size 14px
    color #fff
    padding 7px 10px
    -pie-background linear-gradient(top,#bec73b 0,#73821d)
    background -moz-linear-gradient(top,#bec73b 0,#73821d)
    background -webkit-gradient(linear,left top,left bottom,from(#bec73b),to(#73821d))
    -moz-border-radius 10px
    -webkit-border-radius 10px
    border-radius 7px
    border 1px solid #2e3d05
    -moz-box-shadow 0 1px 3px rgba(000,000,000,.5),inset 0 0 1px rgba(255,255,255,.6)
    -webkit-box-shadow 0 1px 3px rgba(000,000,000,.5),inset 0 0 1px rgba(255,255,255,.6)
    box-shadow 0 1px 3px rgba(000,000,000,.5),inset 0 0 1px rgba(255,255,255,.6)
    text-shadow 0 -1px 0 rgba(000,000,000,.2),0 1px 0 rgba(255,255,255,.2)
    &:hover

#block_inf
  width 100%
  padding 0
  margin 0
  border-top 1px #eee solid
  background-color #fff
  box-sizing border-box
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  -o-box-sizing border-box
  -ms-box-sizing border-box
  & > div
    display inline-block
    padding 0 5px
    & > img
      padding 0
    & > h3
      a
        font-size 12px
        font-family tahoma
        font-weight 700
        color #666
        text-decoration none
        margin 0
        &:hover
    &.telefonos
      padding 0 20px 0 50px
      font-size 15px
      font-family tahoma
      font-weight 700
      & > img

.contac
  padding 0

#nav_circuitos
  .submenu
    left 50px

#circuitos
  & > div
    display inline-block
    vertical-align top
    padding 0px !important
    margin 0px !important
    font-size 0
    width 117px
    position relative
    & > a
      & > img
        width 100%
        height 150px !important
      & > div#circuito_arrow
        display none !important
        position absolute
        width 100%
        height 150px
        opacity 0.75
        background-color #FFFFFF
        z-index 99999
        top 0
        left 0
        & > img
          width 40px
          opacity 0.8
          padding-top 50px
      & > h3
        font-size 14px
        margin 0
        padding 2px 0 5px
        font-family tahoma
        font-weight 200
        color #222
    & > h3
      margin 0
    &:hover
      & > a
        & > h3
        & > img
          &.lafoto
        & > div#circuito_arrow
          display block !important

#agenda
  background-color #eee
  width 230px
  padding 0 10px
  & > div
    width 100%
    border-bottom 1px #333 solid
    &:last-child
      width 100%
      border-bottom 0 #333 solid
    div
      display inline-block
      &.fecha_ag
        background url(../iconos/cal_agenda.png) no-repeat
        display inline-block
        width 22%
        height 41px
        & > p
          font-family tahoma
          color #666
          font-size 11px
      &.info_ag
        width 70%
        padding 0 0 0 7px
        & > h3
          font-family Arial
          color #000
          font-size 14px
          font-weight 700
        & > p
          font-family arial
          color #666
          font-size 10px

#agendames
  h2
    font-family tahoma
    font-style 18px
    color #222
    margin 8px 0
  div
    width 22%
    margin 5px 10px
    padding 5px
    background-color #FF8000
    display inline-block
    vertical-align top
    font-size 12px
    a
      font-size 14px
      color #fff
      &:hover

#listevent
  & > div
    border-bottom 1px #ccc dashed
    width 94%
    margin 10px 0
    div
      display inline-block
  div
    &.infoa
      width 45%
      p
        font-family tahoma
        font-size 13px
        color #222
        margin 0
    &.fecha
      width 13%
      font-family tahoma
      font-size 22px
      font-weight 700
      color #666
      margin 0
    &.imag
      width 30%
      img
        width 100%
  h2
    margin 0
    a
      font-family tahoma
      font-size 18px
      color #222
      margin 4px 0
      padding 0
      &:hover

@font-face
  font-family BebasNeueRegular
  src url(BebasNeue-webfont.eot)
  src url(BebasNeue-webfont.eot?#iefix) format('embedded-opentype'),url(BebasNeue-webfont.woff) format('woff'),url(BebasNeue-webfont.ttf) format('truetype'),url(BebasNeue-webfont.svg#BebasNeueRegular) format('svg')
  font-weight 400

.container
  width 200px
  margin 0 auto

.clock
  width 185px
  margin 0 auto
  padding 7px
  ul
    margin 0 auto
    padding 0
    list-style none
    li
      display inline-block
      font-size 35px
      font-weight 700
      text-align center

#Date
  font-family Arial,Helvetica,sans-serif
  font-size 12px
  text-align center
  color #666

#point
  position relative
  -moz-animation mymove 1s ease infinite
  -webkit-animation mymove 1s ease infinite
  padding-left 3px

@-webkit-keyframes
  mymove
    0% {
	opacity 1

50%
  opacity 0
  opacity 0

100%
  opacity 1
  opacity 1

#promociones
  h2
    margin 0
    padding 7px 0
    font-size 20px
    color #222
  .items
    border-bottom 1px solid #fff
    height 70px
    & > div
      display inline-block
    .imgpromo
    .infopromo
    &:last-child
      border-bottom 0 solid
      height 70px
    .title
      a
        font-size 12px
        font-family tahoma
        color #FF6803
        font-weight 700
        &:hover
    img
      width 60px
      margin 0 2px 0 0
    .promoname
      font-size 12px
      font-family tahoma
      color #222
    .detallepromos

#cont_gral
  width 80%
  background-color #FFF
  min-width 990px
  & > div
    display inline-block
    vertical-align top

#cont_ppal
  width 55%
  min-width 550px
  padding 0 10px 40px

#cont_ads
  width 40%
  padding 0

#cont_full
  width 80%
  background-color #FFF
  min-width 990px
  max-width 1200px
  box-sizing border-box
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  -o-box-sizing border-box
  -ms-box-sizing border-box
  border-radius 10px
  -moz-border-radius 10px
  -webkit-border-radius 10px
  h1
    color #96A929
    font-family Tahoma
    font-size 35px
    text-shadow 1px 1px 1px #969696
  div
    &.subtitulo
      h2
        color #666
        font-family Tahoma
        font-size 22px
        text-shadow 1px 1px 2px #eee
        padding 0 0 0 30px

#h12
  color #96A929
  font-family Rancho,serif

.cont_margin
  padding 5px 15px 30px 20px
  box-sizing border-box
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  -o-box-sizing border-box

#listado
  span

#tabs
  border 0 solid #222
  & > div
    border 1px solid #d8dcdf
    padding 8px
  ul
    background-color none
  li
    background #F4F4F4!important
    a
    &.ui-state-active
      background #fff!important
      a
  .ui-state-default
    background-color none
  .ui-tabs-nav

;
  #tabs
    li
      &:hover
  .cont_250
    & > div

#alojar_tabs
  div
    display inline-block
    position relative
    vertical-align top
    border 1px solid #d8dcdf
    background-color #fff
    margin 4px
    padding 5px
    height 100px
    &:hover
      background-color #ECF0D5
    img
      width 100px
      height 75px
      float left
    h2
      font-family Arial
      color #FF6803
      font-size 13px
      padding 0
      font-weight 700
      a
        font-family Arial
        color #FF6803
        font-size 13px
        padding 0
        font-weight 700
        margin 5px 0
        &:hover
    p
      font-family arial
      color #222
      font-size 10px
      font-weight 400
      padding 0
    span
      &.button
        a
          padding 4px
          background-color #FF6803
          color #FFF
          font-family arial
          font-size 10px
          text-decoration none
          position absolute
          bottom 0
          &:hover
    .conpromo
      position absolute
      top 0
      right 0
      padding 0
      margin -6px -6px 0 0
      border 0
      width 75px
      height 75px
    &.masalojar
      width 96%
      border 0
      height 30px
      &:hover
      span
        color #666
        font-family Tahoma
        font-size 14px
        a
          text-decoration none
          color #666
          font-family Tahoma
          font-size 14px
          font-weight 400
          height 15px
          width 100%
          border 1px solid #d8dcdf
          padding 10px 0
          &:hover
            background-color #eee
    &.masalojar2
      width 42%
      margin 0 1% 5px
      display inline-block
      border 0
      height 30px
      &:hover
      span
        color #666
        font-family Tahoma
        font-size 14px
        a
          text-decoration none
          color #666
          font-family Tahoma
          font-size 14px
          font-weight 400
          height 15px
          width 100%
          border 1px solid #d8dcdf
          padding 10px 0
          &:hover
            background-color #eee
    &.separador
      width 100%
      height 0
      border 0
      padding 0
      &:hover

#destacamos,#noticias
  width 100%

#destacamos h2, #noticias h2
  font-family arial
  font-size 24px
  color #000
  border-bottom 1px solid #ccc
  padding 0

#destacamos>article,#noticias>article
  display inline-block
  vertical-align top
  border 0 #CDD98C solid
  margin 4px
  padding 8px

#destacamos>article:hover, #noticias>article:hover

#destacamos h3 ,#noticias h3
  font-family arial
  font-size 17px
  color #CDD98C
  padding 5px 0

#destacamos h3 a ,#noticias h3 a
  font-family arial
  font-size 17px
  color #AEC144
  padding 5px 0
  margin 0

#destacamos h3 a:hover, #noticias h3 a:hover

#destacamos>article div.imag, #noticias>article div.imag
  width 100%
  height 140px

#destacamos>article div.imag img , #noticias>article div.imag img
  width 100%

#destacamos p, #noticias p
  font-family arial
  font-size 12px
  color #666

#destacamos p a,#noticias p a
  font-family arial
  font-size 12px
  margin 0
  color #FF6803

#destacamos p a:hover,
#noticias p a:hover

#destacamos div.masdesta, #noticias div.masdesta

#destacamos div.masdesta:hover, #noticias