|
/* ------------- variables ---------------- */
/* verde titulos :  #96A929;

-------------------------------------------*/

#general,body,html {
	width: 100%;
	height: 100%
}
#slidercontent {
	 width: 100% !important;
  position: relative;
  padding: 0;
	height: auto;
  max-height: 550px !important;
  overflow: hidden;
}
#contenedor {
	width: 1000px;
	height: 800px;
	background-color: #eee
}
#contenedorhome {
	width: 100%;
	background-color: #eee;
	position: relative;
	padding: 0 0 20px
}
#contenedor2 {
	width: 100%;
	background-color: #fff;
	position: relative;
	padding:88px 0 20px 0;


}
#contenedor2>div#titulos {
	width: 100%;
	padding: 10px 0px 10px 0px;
	
	background-color: #96A929;;

}
#titulos>div {
	width: 80%;	
}
#titulos h1{
	color:#FFF;
	font-size: 35px;
	padding: 8px;
	margin: 0px;
	/*text-shadow: 1px 1px 1px #969696;*/
	font-weight: 500;
	font-family:"Oxygen", tahoma;
	display: inline-block
}
#titulos p.estasaqui{
	color:#FFF;
	font-size: 14px;
	padding: 8px;
	margin: 0px;
	font-weight: 200;
	font-family: tahoma;
}
#titulos p.estasaqui a{
	color:#FFF;
	font-size: 14px;
	padding: 8px;
	margin: 0px;
	font-weight: 200;
	font-family: tahoma;
	text-decoration: underline;
}
#titulos p.estasaqui a:hover{text-decoration: none;}
#titulos span.here { background-color: #556017; padding: 5px; color:#EAEBE7;}
#divHeader {
	height: 110px;
	padding: 3px;
	width: 1000px
}
.pru {
	background-color: red;
	width: 100%;
	height: 200px
}
.clear {
	clear: both
}
#myCarousel {
	padding: 0;
	z-index: 2;
	width: 100%;
	height: 350px;
	overflow: 
}
#myCarousel img {
	width: 100%;
	height: 350px;
	margin: 0;
	padding: 0
}
.fixed {
	background-color: rgba(255,255,255,.8);
	z-index: 999;
	box-shadow: 0 5px 7px #ccc;
	-moz-box-shadow: 0 5px 7px #666;
	-webkit-box-shadow: 0 5px 7px #666;
	behavior: url(PIE.htc);
	top:0 !important;
	padding-bottom: 5px !important
}
.fixed img.logo {
	width: 80px !important;
	height: auto !important;
	margin: 4px 98px 3px 8px !important;
}	
.fixed ul {
	padding: 0px !important;
}
.fixed li.menuss {
	padding: 3px 8px 5px 8px !important;
}
	
.fixed .submenu { top: 44px !important;}

.nofixed {
	background-color: #FFF;
	/*height: 110px;*/
	width: 100%;
	position: absolute;
	top:20px;
}
#menu2 {
	width: 100%;
	/*height: 110px;*/
	background-color: #000;
	position: fixed;
	top: 0px;
	padding-bottom: 10px;
	left: 0;
	z-index: 9999
}
#menu2>div {
	width: 83%;
	min-width: 990px;
	position: relative;
	/*height: 110px;*/
	background-color: ;
	max-width: 1200px
}
#menu2>div>ul {
	padding: 5px 0;
	margin: 0 0 0 30px;
	list-style: none
}
#menu2>div>ul>a> img {
	display: inline-block;
	margin: 3px 40px 3px 0;
	vertical-align: top;
	/*height: 80px;*/
	/*width: auto*/
}
#menu2 .logo {width: 150px;height: auto;}
#menu2>div>ul>li.menuss {
	display: inline-block;
	bottom: 0;
	vertical-align: bottom;
	/*background-color: #EAEBE7;*/
	/*max-width: 140px;*/
	/*border-right: 1px #eee solid;*/
	list-style: none;
	padding: 20px 12px 10px 15px;
/*	height: 70px;
*/	margin: 5px 12px 0px 12px;

	color: #FFF;
	cursor: pointer
}
#menu2>div>ul>li:last-child {
	border-right: 0
}
#menu2>div>ul>li.menuss span.title {
	font-size: 20px;
	padding: 1px 0;
	margin: 0;
	font-family:"Oxygen", calibri ;
	font-weight: 200
}
#menu2>div>ul>li.menuss span.info {
	font-size: 10px;
	line-height: 11px;
	font-family: arial;
	font-weight: 400
}
#menu2>div>ul>li.menuss:hover {
	color: #FF6803;
	background-color: #fff
}

/* -------------- NUEVO MENU ------------- */
#menu2-2 {
	width: 100%;
	height: 110px;
	background-color: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999
}
#menu2-2 >div {
	width: 83%;
	min-width: 990px;
	position: relative;
	height: 110px;
	background-color: ;
	max-width: 1200px
}
#menu2-2 >div>ul {
	padding: 5px 0;
	margin: 0 0 0 30px;
	list-style: none
}
#menu2-2 >div>ul>a> img {
	display: inline-block;
	margin: 8px 40px 10px 0;
	vertical-align: top;
	height: 80px;
	width: auto
}
#menu2-2 >div>ul>li.menuss {
	display: inline-block;
	bottom: 0;
	max-width: 140px;
	border-right: 1px #eee solid;
	list-style: none;
	padding: 0 10px;
	height: 70px;
	margin: 25px 10px 10px 10px;
	color: #222;
	cursor: pointer
}
#menu2-2 >div>ul>li:last-child {
	border-right: 0
}
#menu2-2 >div>ul>li.menuss span.title {
	font-size: 16px;
	padding: 1px 0;
	margin: 0;
	font-family: arial;
	font-weight: 700
}
#menu2-2 >div>ul>li.menuss span.info {
	font-size: 10px;
	line-height: 11px;
	font-family: arial;
	font-weight: 400
}
#menu2-2 >div>ul>li.menuss:hover {
	color: #FF6803;
	background-color: 
}
/* ---------- FIN NUEVO MENU ---------------- */
.submenu {
	padding: 7px;

	background-color: #FFF;
	
	box-shadow: -3px 5px 5px #666;
	-moz-box-shadow: -3px 5px 5px #666;
	-webkit-box-shadow: -3px 5px 5px #666;
	position: absolute;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	behavior: url(PIE.htc);
	z-index: 9999;
	top: 73px;
	/*left: 0*/
}
div.submenu ul {
	padding: 0;
	margin: 0;
	list-style: none
}
div.submenu>div {
	border: 0 1px 0 1px solid #eee;
	vertical-align: top;
	display: inline-block;
	padding: 10px
}
div.submenu>div>ul li,div.submenu>ul li {
	margin: 5px;
	cursor: pointer
}
div.submenu a {
	font-family: arial;
	font-size: 12px;
	color: #222;
	text-decoration: none
}
div.submenu a:hover {
	color: #FF6803;
	text-decoration: none
}
div.submenu h2 {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 5px 0;
	color: #222;
	font-weight: 700
}
div.submenu img.ico {
	vertical-align: middle;
	margin: 4px;
	width: 16px;
	height: auto;
}
.floatLeft {
	float: left
}
.floatRight {
	float: right
}
#imagen_fondo {
	width: 100%;
	/*max-width: 1200px;*/
	overflow: hidden
}
#imagen_fondo img {
	width: 100%;
	height: auto;
	/*height: 680px;*/

}
.border_rigth {
	height: 220px;
	border-right: 1px solid #eee
}
ul.twocolum li {
	display: inline-block;
	margin-right: 8px
}
/*IDES DE LOS MENUS*/
#descubrela .submenu {
	left:0;
}

#nav_alojamiento{}
#nav_alojamiento .submenu {
	margin-left: -50px;
	width: 50%;
}
#alojamiento li a {font-size: 14px;} 
#preptuviaje .submenu{
	left:200px
}
#quehacer .submenu {
	left: 0px;
}

#tAventura {
	width: 30%;
	height: 100%
}


#buscador_a {
	width: 250px;
	height: 
}
#bAlojar {
	background-color: #DCEA8E;
	margin: 0 0 2px;
	padding: 8px;
	position: relative
}
#bAlojar h2 {
	font-size: 20px;
	font-family: Tahoma;
	color: #81931C;
	margin: 4px 0;
	padding: 0
}
#bAlojar input {
	background: #FFF;
	width: 100%;
	height: 17px;
	padding: 4px;
	border: 1px #666 solid;
	margin: 4px 0 0 2px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	behavior: url(PIE.htc);
	font-size: 12px;
	font-family: Tahoma;
	color: #FF6803
}
#bAlojar label {
	font-size: 12px;
	font-family: Tahoma;
	color: #222;
	font-weight: 700
}
#bAlojar p {
	font-size: 10px;
	font-family: Tahoma;
	color: #222;
	margin: 0;
	padding: 0
}
#bAlojar div {
	padding: 3px 5px;
	width: 80%
}
#bAlojar button {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	color: #fff;
	padding: 7px 10px;
	-pie-background: linear-gradient(top,#bec73b 0,#73821d);
	background: -moz-linear-gradient(top,#bec73b 0,#73821d);
	background: -webkit-gradient(linear,left top,left bottom,from(#bec73b),to(#73821d));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 7px;
	border: 1px solid #2e3d05;
	-moz-box-shadow: 0 1px 3px rgba(000,000,000,.5),inset 0 0 1px rgba(255,255,255,.6);
	-webkit-box-shadow: 0 1px 3px rgba(000,000,000,.5),inset 0 0 1px rgba(255,255,255,.6);
	box-shadow: 0 1px 3px rgba(000,000,000,.5),inset 0 0 1px rgba(255,255,255,.6);
	text-shadow: 0 -1px 0 rgba(000,000,000,.2),0 1px 0 rgba(255,255,255,.2);
	behavior: url(PIE.htc)
}
#bAlojar button:hover {
	background: #73821d
}
#block_inf {
	width: 100%;
	padding: 0;
	margin: 0;
	border-top: 1px #eee solid;
	background-color: #fff;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	behavior: url(PIE.htc)
}
#block_inf>div {
	display: inline-block;
	padding: 0 5px;
	margin: 0
}
#block_inf>div>img {
	padding: 0;
	margin: 0
}
#block_inf>div>h3 a {
	font-size: 12px;
	font-family: tahoma;
	font-weight: 700;
	color: #666;
	text-decoration: none;
	margin: 0;
	padding: 0 2px
}
#block_inf>div>h3 a:hover {
	color: #000
}
#block_inf>div.telefonos {
	padding: 0 20px 0 50px;
	font-size: 15px;
	font-family: tahoma;
	font-weight: 700;
	color: #09F
}
#block_inf>div.telefonos>img {
	margin: 0 10px 0 0
}
.contac {
	padding: 0;
	margin: 0
}
#nav_circuitos .submenu {
	left:50px;
}
#circuitos>div {
	display: inline-block;
	vertical-align: top;
	padding:0px !important;
	margin: 0px !important;
	  font-size: 0;
	width: 117px;
	position: relative;
}
#circuitos>div>a>img {
	width: 100%;
	height: 150px !important;
}
#circuitos>div>a>div#circuito_arrow{
	display: none !important;
	position: absolute;
	width: 100%;
	height: 150px;
	opacity: 0.75;
	background-color: #FFFFFF;
	z-index: 99999;
	top:0;
	left:0;
}
#circuitos>div>a>div#circuito_arrow >img{
	width: 40px;
	opacity: 0.8;
	padding-top: 50px;
}
#circuitos>div>h3 {
	margin: 0;
	padding: 0
}
#circuitos>div>a>h3 {
	font-size: 14px;
	margin: 0;
	padding: 2px 0 5px;
	font-family: tahoma;
	font-weight: 200;
	color: #222;
	text-decoration: none
}
#circuitos>div:hover>a>h3 {
	color: #FF6803
}
#circuitos>div:hover>a>img.lafoto {
	opacity: .9
}
#circuitos>div:hover>a>div#circuito_arrow {
	display: block !important;

}
#agenda {
	background-color: #eee;
	width: 230px;
	padding: 0 10px;
	border: 0 solid #222
}
#agenda>div {
	width: 100%;
	border-bottom: 1px #333 solid;
	padding: 3px 0
}
#agenda>div:last-child {
	width: 100%;
	border-bottom: 0 #333 solid;
	padding: 3px 0
}
#agenda>div div {
	display: inline-block;
	vertical-align: top
}
#agenda>div div.fecha_ag {
	background: url(../iconos/cal_agenda.png) no-repeat;
	display: inline-block;
	width: 22%;
	height: 41px;
	padding: 11px 0 0 5px
}
#agenda>div div.fecha_ag>p {
	font-family: tahoma;
	color: #666;
	font-size: 11px;
	font-weight: 700
}
#agenda>div div.info_ag {
	width: 70%;
	padding: 0 0 0 7px;
	display: inline-block
}
#agenda>div div.info_ag>h3 {
	font-family: Arial;
	color: #000;
	font-size: 14px;
	font-weight: 700;
	margin: 0
}
#agenda>div div.info_ag>p {
	font-family: arial;
	color: #666;
	font-size: 10px;
	font-weight: 400
}
#agendames {
	width: 100%
}
#agendames h2 {
	font-family: tahoma;
	font-style: 18px;
	color: #222;
	margin: 8px 0;
	padding: 0
}
#agendames div {
	width: 22%;
	margin: 5px 10px;
	padding: 5px;
	background-color: #FF8000;
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	color: #fff
}
#agendames div a {
	font-size: 14px;
	color: #fff;
	text-decoration: none
}
#agendames div a:hover {
	text-decoration: underline
}
#listevent {
	width: 100%
}
#listevent>div {
	border-bottom: 1px #ccc dashed;
	width: 94%;
	margin: 10px 0;
	padding: 10px
}
#listevent>div div {
	display: inline-block;
	vertical-align: top
}
#listevent div.infoa {
	width: 45%;
	padding: 0 2%
}
#listevent h2 {
	margin: 0;
	padding: 0
}
#listevent h2 a {
	font-family: tahoma;
	font-size: 18px;
	color: #222;
	margin: 4px 0;
	padding: 0;
	text-decoration: none
}
#listevent h2 a:hover {
	color: #FF8000
}
#listevent div.fecha {
	width: 13%;
	font-family: tahoma;
	font-size: 22px;
	font-weight: 700;
	color: #666;
	margin: 0;
	padding: 30px 1%
}
#listevent div.infoa p {
	font-family: tahoma;
	font-size: 13px;
	color: #222;
	margin: 0;
	padding: 0
}
#listevent div.imag {
	width: 30%;
	height: auto
}
#listevent div.imag img {
	width: 100%;
	height: auto
}
@font-face {
	font-family: BebasNeueRegular;
	src: url(BebasNeue-webfont.eot);
	src: url(BebasNeue-webfont.eot?#iefix) format('embedded-opentype'),url(BebasNeue-webfont.woff) format('woff'),url(BebasNeue-webfont.ttf) format('truetype'),url(BebasNeue-webfont.svg#BebasNeueRegular) format('svg');
	font-weight: 400;
	font-style: normal
}
.container {
	width: 200px;
	margin: 0 auto;
	overflow: hidden
}
.clock {
	width: 185px;
	margin: 0 auto;
	padding: 7px;
	color: #000
}
#Date {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	text-align: center;
	color: #666;
	font-weight: 700
}
.clock ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	text-align: center
}
.clock ul li {
	display: inline-block;
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	font-family: Arial,Helvetica,sans-serif
}
#point {
	position: relative;
	-moz-animation: mymove 1s ease infinite;
	-webkit-animation: mymove 1s ease infinite;
	padding-left: 3px;
	padding-right: 3px
}
@-webkit-keyframes mymove {
	0% {
	opacity: 1;
	text-shadow: 0 0 20px #FF6803
}
50% {
	opacity: 0;
	text-shadow: none
}
100% {
	opacity: 1;
	text-shadow: 0 0 20px #FF6803
}

}
@-moz-keyframes mymove {
	0% {
	opacity: 1;
	text-shadow: 0 0 20px #FF6803
}
50% {
	opacity: 0;
	text-shadow: none
}
100% {
	opacity: 1;
	text-shadow: 0 0 20px #FF6803
}

}
#promociones {
	width: 100%;
	max-width: 240px;
	margin: 10px 0;
	background-color: #ECF0D5;
	padding: 5px;
	border-radius: 7px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	behavior: url(PIE.htc)
}
#promociones h2 {
	margin: 0;
	padding: 7px 0;
	font-size: 20px;
	color: #222;
	border-bottom: 1px solid #ccc
}
#promociones .items {
	border-bottom: 1px solid #fff;
	height: 70px;
	padding: 5px
}
#promociones .items>div {
	display: inline-block;
	vertical-align: top
}
#promociones .items .imgpromo {
	width: 66px
}
#promociones .items .infopromo {
	width: 154px
}
#promociones .items:last-child {
	border-bottom: 0 solid;
	height: 70px;
	padding: 5px
}
#promociones .items .title a {
	font-size: 12px;
	font-family: tahoma;
	color: #FF6803;
	font-weight: 700;
	text-decoration: none
}
#promociones .items .title a:hover {
	color: #FFA466
}
#promociones .items img {
	width: 60px;
	margin: 0 2px 0 0;
	border: 2px solid #ccc
}
#promociones .items .promoname {
	font-size: 12px;
	font-family: tahoma;
	color: #222;
	font-weight: 400
}
#promociones .items .detallepromos {
	font-size: 10px
}
#cont_gral {
	width: 80%;
	background-color: #FFF;
	min-width: 990px;
	max-width: 1200px
}
#cont_gral>div {
	display: inline-block;
	vertical-align: top;
	margin-top: 40px
}
#cont_ppal {
	width: 55%;
	min-width: 550px;
	padding: 0 10px 40px;
	
}
#cont_ads {
	width: 40%;
	padding: 0;
	min-width: 400px
}
#cont_full {
	width: 80%;
	background-color: #FFF;
	min-width: 990px;
	max-width: 1200px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior: url(PIE.htc)
}
#cont_full h1 {
	color: #96A929;
	font-family: Tahoma;
	font-size: 35px;
	text-shadow: 1px 1px 1px #969696;
	display: inline-block
}
#cont_full div.subtitulo h2 {
	color: #666;
	font-family: Tahoma;
	font-size: 22px;
	text-shadow: 1px 1px 2px #eee;
	padding: 0 0 0 30px;
	margin: 0
}
#h12 {
	color: #96A929;
	font-family: Rancho,serif;
	font-size: 38px
}
.cont_margin {
	padding: 5px 15px 30px 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box
}
#listado span {
	display: inline-block
}
#tabs {
	border: 0 solid #222;
	background-color: rgba(255,255,255,.1)
}
#tabs>div {
	border: 1px solid #d8dcdf;
	padding: 8px;
	margin: 0
}
#tabs ul {
	background-color: none;
	border: 0
}
#tabs li {
	background: #F4F4F4!important;
	color: red!important
}
#tabs li a {
	color: #666!important
}
#tabs li.ui-state-active {
	background: #fff!important;
	margin-bottom: -2px
}
#tabs li.ui-state-active a {
	color: #FF6803!important
}
#tabs .ui-state-default {
	background-color: none;
	color: #FF6803
}
#tabs .ui-tabs-nav {
	background: 0 0
}
;
	#tabs li:hover {
	background-color: #E3E9BE
}
#alojar_tabs {
	width: 100%
}
#alojar_tabs div {
	display: inline-block;
	position: relative;
	vertical-align: top;
	border: 1px solid #d8dcdf;
	background-color: #fff;
	margin: 4px;
	padding: 5px;
	height: 100px;
	width: 45%
}
#alojar_tabs div:hover {
	background-color: #ECF0D5;
	border: 1px solid #CDD98C
}
#alojar_tabs div img {
	width: 100px;
	height: 75px;
	float: left;
	margin: 10px 5px
}
#alojar_tabs div h2 {
	font-family: Arial;
	color: #FF6803;
	font-size: 13px;
	padding: 0;
	font-weight: 700;
	margin: 5px 0
}
#alojar_tabs div h2 a {
	font-family: Arial;
	color: #FF6803;
	font-size: 13px;
	padding: 0;
	font-weight: 700;
	margin: 5px 0;
	text-decoration: none
}
#alojar_tabs div h2 a:hover {
	text-decoration: underline
}
#alojar_tabs div p {
	font-family: arial;
	color: #222;
	font-size: 10px;
	font-weight: 400;
	padding: 0;
	margin: 0
}
#alojar_tabs div span.button a {
	padding: 4px;
	background-color: #FF6803;
	color: #FFF;
	font-family: arial;
	font-size: 10px;
	text-decoration: none;
	position: absolute;
	bottom: 0;
	right: 0
}
#alojar_tabs div span.button a:hover {
	text-decoration: underline
}
#alojar_tabs div .conpromo {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	margin: -6px -6px 0 0;
	border: 0;
	width: 75px;
	height: 75px;
	background: url(../imagenes/promo.png) no-repeat
}
#cont_alojar div .conpromo {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	margin: -6px -6px 0 0;
	border: 0;
	width: 75px;
	height: 75px;
	background: url(../imagenes/promo.png) no-repeat
}
#alojar_tabs div.masalojar {
	width: 96%;
	border: 0;
	height: 30px;
	padding: 0
}
#alojar_tabs div.masalojar:hover {
	background-color: #FFF
}
#alojar_tabs div.masalojar span {
	color: #666;
	font-family: Tahoma;
	font-size: 14px;
	font-weight: 400
}
#alojar_tabs div.masalojar span a {
	text-decoration: none;
	color: #666;
	font-family: Tahoma;
	font-size: 14px;
	font-weight: 400;
	height: 15px;
	width: 100%;
	border: 1px solid #d8dcdf;
	padding: 10px 0;
	display: block
}
#alojar_tabs div.masalojar span a:hover {
	background-color: #eee;
	font-weight: 700
}
#alojar_tabs div.masalojar2 {
	width: 42%;
	margin: 0 1% 5px;
	display: inline-block;
	border: 0;
	height: 30px;
	padding: 0
}
#alojar_tabs div.masalojar2:hover {
	background-color: #FFF
}
#alojar_tabs div.masalojar2 span {
	color: #666;
	font-family: Tahoma;
	font-size: 14px;
	font-weight: 400
}
#alojar_tabs div.masalojar2 span a {
	text-decoration: none;
	color: #666;
	font-family: Tahoma;
	font-size: 14px;
	font-weight: 400;
	height: 15px;
	width: 100%;
	border: 1px solid #d8dcdf;
	padding: 10px 0;
	display: block
}
#alojar_tabs div.masalojar2 span a:hover {
	background-color: #eee;
	font-weight: 700
}
#alojar_tabs div.separador {
	width: 100%;
	height: 0;
	border: 0;
	padding: 0;
	margin: 0
}
#alojar_tabs div.separador:hover {
	background-color: #FFF
}
#destacamos,#noticias {
	width: 100%;
	margin-top: 29px
}
#destacamos h2, #noticias h2 {
	font-family: arial;
	font-size: 24px;
	color: #000;
	border-bottom: 1px solid #ccc;
	padding: 0;
	margin: 0
}
#destacamos>article,#noticias>article {
	display: inline-block;
	vertical-align: top;
	border: 0 #CDD98C solid;
	margin: 4px;
	padding: 8px;
	width: 45%
}
#destacamos>article:hover, #noticias>article:hover {
	background-color: #F4F4F4
}
#destacamos h3 ,#noticias h3 {
	font-family: arial;
	font-size: 17px;
	color: #CDD98C;
	padding: 5px 0;
	margin: 0
}
#destacamos h3 a {
	font-family: arial;
	font-size: 22px;
	color: #AEC144;
	padding: 5px 0;
	margin: 0;
	text-decoration: none
}

#destacamos h3 a:hover {
	color: #76832C
}
#noticias h3 a {
	font-family: arial;
	font-size: 22px;
	color: #404040;
	padding: 5px 0;
	margin: 0;
	text-decoration: none
}
#noticias h3 a:hover {
	color: #76832C
}
#destacamos>article div.imag, #noticias>article div.imag {
	width: 100%;
	height: 240px;
	overflow: hidden
}
#destacamos>article div.imag img , #noticias>article div.imag img {
	width: 100%;
	height: auto
}
#destacamos p, #noticias p {
	font-family: arial;
	font-size: 14px;
	color: #666;
	margin: 0
}
#destacamos p a,#noticias p a {
	font-family: arial;
	font-size: 12px;
	margin: 0;
	color: #FF6803;
	text-decoration: none
}
#destacamos p a:hover,
#noticias p a:hover {
	text-decoration: underline
}
#destacamos div.masdesta{
	margin:13px 0 ;
	font-weight: bold;
	width:200px;
	background-color: #FF8346;
	color:#FFF;
	border-radius:7px;
	display: block;
}
#noticias div.masdesta {
	margin:13px 0 ;
	width:200px;
	font-weight: bold;
	color:#FF8040;
	background-color: #FAFAFA;
	border-radius:7px;
	display: block;
}
#destacamos div.masdesta:hover
{
	background-color: #FF5F11
} 
#noticias div.masdesta:hover {
	background-color: #E6E6E6
}
#destacamos div.masdesta span ,#noticias div.masdesta span {
	
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
}
#destacamos div.masdesta span a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-family: Tahoma;
	font-size: 14px;
	
	/*border: 1px solid #ccc;*/
	padding: 10px;
	display: block
}
 #noticias div.masdesta span a {
	text-decoration: none;
	color: #FF8040;
	font-weight: bold;
	font-family: Tahoma;
	font-size: 14px;
	
	/*border: 1px solid #ccc;*/
	padding: 10px;
	display: block
}
#destacamos div.masdesta span a:hover {
	/*background-color: #eee;*/
	
}
 #noticias div.masdesta span a:hover {
	/*background-color: #eee;*/
	
}
#buscar_FULL {
	width: 98%;
	height: 100%;
	padding: 5px;
	margin: 10px 0;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	behavior: url(PIE.htc)
}
#buscar_FULL>div {
	display: inline-block;
	vertical-align: top
}
#buscar_FULL>div.leftC {
	min-width: 580px;
	width: 58%
}
#buscador_aloja {
	background-color: #ECF0D5;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color: #6DCBE7;
	padding: 10px
}
#buscador_aloja h2 {
	color: #96A929;
	font-family: Tahoma;
	font-size: 20px;
	padding: 5px 0;
	margin: 0;
	font-weight: 700
}
#buscador_aloja p {
	color: #666;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: 400;
	margin: 0;
	padding: 0
}
#buscador_aloja p>b {
	color: #F60;
	font-family: Tahoma;
	font-size: 15px
}
#buscador_aloja>div {
	display: inline-block;
	vertical-align: middle;
	width: 22%;
	margin: 4px
}
#buscador_aloja input {
	background: #FFF url(../imagenes/calendar.jpg) right no-repeat;
	width: 90%;
	height: 20px;
	padding: 4px;
	border: 1px #666 solid;
	margin: 7px 2px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	behavior: url(PIE.htc);
	font-size: 12px;
	font-family: Tahoma;
	color: #96A929
}
#buscador_aloja select {
	width: 90%;
	height: 30px;
	padding: 5px;
	border: 1px #666 solid;
	margin: 7px 2px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	behavior: url(PIE.htc);
	font-size: 12px;
	font-family: Tahoma;
	color: #96A929
}
#buscador_aloja label {
	font-family: tahoma;
	color: #666;
	font-weight: 700;
	font-size: 14px
}
#buscador_aloja button {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 21px;
	color: #fff;
	padding: 10px;
	-pie-background: linear-gradient(top,#bec73b 0,#73821d);
	background: -moz-linear-gradient(top,#bec73b 0,#73821d);
	background: -webkit-gradient(linear,left top,left bottom,from(#bec73b),to(#73821d));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 7px;
	border: 1px solid #2e3d05;
	-moz-box-shadow: 0 1px 3px rgba(000,000,000,.5),inset 0 0 1px rgba(255,255,255,.6);
	-webkit-box-shadow: 0 1px 3px rgba(000,000,000,.5),inset 0 0 1px rgba(255,255,255,.6);
	box-shadow: 0 1px 3px rgba(000,000,000,.5),inset 0 0 1px rgba(255,255,255,.6);
	text-shadow: 0 -1px 0 rgba(000,000,000,.2),0 1px 0 rgba(255,255,255,.2);
	behavior: url(PIE.htc)
}
#asd_busca {
	width: 35%;
	min-width: 320px;
	margin: 0 5px
}
#dir_ {
	width: 90%;
	min-width: 980px;
	height: 100%;
	padding: 5px;
	margin: 10px 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	behavior: url(PIE.htc)
}
#dir_ h2 {
	font-family: Tahoma;
	font-size: 18px;
	color: #666;
	font-weight: 700;
	margin: 0;
	padding: 0
}
#dir_>div.subtipodiv {
	width: 100%;
	height: 20px
}
#dir_dest {
	background-color: #D9E8FD;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width: 90%;
	min-width: 980px;
	height: 100%;
	padding: 5px;
	margin: 10px 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	behavior: url(PIE.htc)
}
#dir_>div.items,#dir_>div.itemsB {
	display: inline-block;
	vertical-align: top;
	width: 230px;
	height: 320px;
	position: relative;
	
	padding: 0px;
	border: 1px solid #ccc;
	background-color: #eee;
	margin: 10px 4px
}
#dir_>div.items>a
{
	text-decoration: none;
}
#dir_>div.items>a>h3 {
	margin: 0;
	padding: 4px 5px  8px 5px;
	color: #F60;
	font-family: Tahoma;
		font-size: 16px;

	text-decoration: none;

}
#dir_>div.items>a>img.princ {
	width: 230px;
	height: 170px
}
#dir_>div.itemsB>a>h3 {
	margin: 0;
	padding: 40px 0 8px;
	color: #F60;
	font-family: Tahoma;
	font-size: 16px;
}
#dir_>div.itemsB>a>p,#dir_>div.items>a>p {
color: #808080;
	margin: 0;
	padding: 0px 4px 8px 4px;
	font-family: Tahoma;
	font-size: 13px;
	text-decoration:  none
}
#dir_>div.itemsB>a.tooltip>img,#dir_>div.items>a.tooltip>img {
	margin: 0 10px;
	vertical-align: middle;
	height: 16px;
	width: auto;

}
#dir_>div.itemsB>a>span {
	font-size: 10px
}
#dir_dest h2 {
	margin: 0;
	padding: 4px 0;
	color: #92BEFA;
	font-family: Tahoma;
	font-size: 18px
}
#dir_dest>div {
	display: inline-block;
	vertical-align: top;
	width: 230px;
	position: relative;
	height: 320px;
	padding: 0px;
	border: 1px solid #ccc;
	background-color: #eee;
	margin: 10px 4px;
	cursor:pointer;
}
#dir_dest>div>a{
	text-decoration:none
}
#dir_dest>div>a>h3 {
	margin: 0;
	padding: 4px 5px 8px 5px;
	color: #F60;
	font-family: Tahoma;
	font-size: 16px;
	text-decoration:none;
}
#dir_dest>div:hover>a>h3,#dir_>div.items:hover>a>h3 {
	;
	color: #F60;
	text-decoration: underline;
}
#dir_dest>div>a>img.princ {
	width: 230px;
	height: 170px
}
#dir_dest>div>a.tooltip>img {
margin: 0 10px;
vertical-align: middle;
height: 16px;
width: auto;
}
#dir_dest>div:hover,#dir_>div.items:hover
{
	border-color:#ED811F; 
}



#dir_dest>div:hover>a>img.princ, #dir_>div.items:hover>a>img.princ{

	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	opacity: 0.8;
	moz-opacity:0.8;
}
#dir_dest>div>a>p{
	color: #808080;
	margin: 0;
	padding: 0px 4px 8px 4px;
	font-family: Tahoma;
	font-size: 13px;
	text-decoration:  none
}

#dir_ .conpromo,#dir_dest .conpromo {
	position: absolute;
	z-index: 980;
	top: 0;
	right: 0;
	padding: 0;
	margin: -6px -6px 0 0;
	border: 0;
	width: 75px;
	height: 75px;
	background: url(../imagenes/promo.png) no-repeat
}
.butons {
	max-width: 100px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	color: #96ba07;
	padding: 8px 10px;
	margin: 8px 0 0;
	-pie-background: linear-gradient(top,#e0e0e0 0,#f5f5f5 50%,#c1c2ba);
	background: -moz-linear-gradient(top,#e0e0e0 0,#f5f5f5 50%,#c1c2ba);
	background: -webkit-gradient(linear,left top,left bottom,from(#e0e0e0),color-stop(0.5,#f5f5f5),to(#c1c2ba));
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	border: 1px solid #636363;
	-moz-box-shadow: 0 1px 3px rgba(000,000,000,.5),inset 0 0 2px rgba(255,255,255,1);
	-webkit-box-shadow: 0 1px 3px rgba(000,000,000,.5),inset 0 0 2px rgba(255,255,255,1);
	box-shadow: 0 1px 3px rgba(000,000,000,.5),inset 0 0 2px rgba(255,255,255,1);
	text-shadow: 0 -1px 0 rgba(000,000,000,.2),0 1px 0 rgba(255,255,255,.4);
	behavior: url(PIE.htc);
	cursor: pointer
}
.butons a {
	text-decoration: none;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	color: #96ba07
}
.butons:hover {
	background: #fff;
	text-decoration: underline
}
#dir_>div:hover>div.dir_H h3,#dir_>div:hover>div.dir_H p,#dir_dest>div:hover>div.dir_H h3,#dir_dest>div:hover>div.dir_H p {
	-ms-filter: "progid:  DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1
}
div#loading {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #FFF;
	background-color: rgba(255,255,255,.8);
	opacity: .8;
	filter: alpha(opacity=80);
	-moz-opacity: .8;
	-webkit-opacity: .8
}
div#loading img {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 50%;
	left: 50%;
	margin: -16px 0 0 -16px
}
.publi250x250 {
	background: url(../imagenes/publicidad250x250.png) no-repeat;
	width: 261px;
	height: 260px;
	padding: 34px 10px 4px
}
.publi500x80 {
	background: url(../imagenes/publicidad_horizontal.png) no-repeat;
	height: 70px;
	width: 520px;
	margin: 8px 0 0 10px;
	padding: 15px 0 0
}
#buscadorC {
	width: 98%;
	margin: 10px;
	padding: 8px;
	background-color: #919F39;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	ox-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	behavior: url(PIE.htc)
}
#buscadorC h2 {
	font-family: arial;
	font-size: 24px;
	margin: 0;
	padding: 0 0 5px;
	color: #ECF0D5;
	text-shadow: 1px 1px 1px #222
}
#buscadorC label {
	font-size: 12px;
	font-family: Tahoma;
	color: #FFF;
	font-weight: 700
}
#buscadorC div {
	display: inline-block;
	width: 42%;
	padding: 2px;
	margin: 5px;
	vertical-align: top
}
#buscadorC input {
	background: #FFF url(../imagenes/calendar.jpg) right no-repeat;
	width: 100%;
	height: 20px;
	padding: 5px;
	border: 1px #666 solid;
	margin: 7px 2px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	behavior: url(PIE.htc);
	font-size: 12px;
	font-family: Tahoma;
	color: #222
}
#buscadorC select {
	height: 29px;
	padding: 5px;
	border: 1px #666 solid;
	margin: 7px 2px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	behavior: url(PIE.htc);
	font-size: 12px;
	font-family: Tahoma;
	color: #222
}
#buscadorC div.select {
	width: 58%
}
#buscadorC div.buttondiv {
	width: 28%
}
#buscadorC button {
	margin: 15px 0 0;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	color: #fff;
	padding: 10px 5px;
	-pie-background: linear-gradient(top,#bec73b 0,#73821d);
	background: -moz-linear-gradient(top,#bec73b 0,#73821d);
	background: -webkit-gradient(linear,left top,left bottom,from(#bec73b),to(#73821d));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 7px;
	border: 1px solid #2e3d05;
	-moz-box-shadow: 0 1px 3px rgba(000,000,000,.5),inset 0 0 1px rgba(255,255,255,.6);
	-webkit-box-shadow: 0 1px 3px rgba(000,000,000,.5),inset 0 0 1px rgba(255,255,255,.6);
	box-shadow: 0 1px 3px rgba(000,000,000,.5),inset 0 0 1px rgba(255,255,255,.6);
	text-shadow: 0 -1px 0 rgba(000,000,000,.2),0 1px 0 rgba(255,255,255,.2);
	behavior: url(PIE.htc)
}
#buscadorC button:hover {
	background: #73821d
}
#agendaC {
	width: 100%;
	margin: 10px 0;
	background-color: #FF6803;
	padding: 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	behavior: url(PIE.htc)
}
#agendaC h2 {
	margin: 0;
	padding: 4px 0;
	font-family: arial;
	font-size: 24px;
	color: #FFCAA6;
	text-shadow: 1px 1px 1px #222
}
#agendaC>p {
	margin: 0;
	padding: 0;
	font-family: arial;
	font-size: 12px;
	color: #eee
}
#carusel {
	width: 100%;
	position: relative;
	height: 186px;
	margin: 10px 0;
	background-color: #333
}
#carusel div.scrollableArea div {
	width: 160px;
	height: 180px;
	padding: 0 10px;
	position: relative;
	float: left
}
div.carusell img {
	width: 100%;
	height: 100px
}
div.carusell h3 {
	margin: 0;
	padding: 3px 0;
	font-family: arial;
	font-size: 15px;
	color: #FFF;
	position: relative
}
div.carusell h3 a {
	margin: 0;
	padding: 3px 0;
	font-family: arial;
	font-size: 15px;
	color: #FFF;
	text-decoration: none
}
div.carusell h3 a:hover {
	text-decoration: underline
}
div.carusell p {
	margin: 0;
	padding: 3px 0;
	font-family: arial;
	font-size: 10px;
	color: #FFF
}
div.carusell p.fecha {
	margin: 0;
	padding: 3px 0;
	font-family: arial;
	font-size: 26px;
	font-weight: 700;
	color: #919F39;
	text-shadow: 1px 1px 1px #FFCAA6
}
#contenedorInt {
	width: 100%;
	background-color: #fff;
	position: relative;
	padding: 88px 0 20px 0;
}
#cont_int {
	width: 80%;
	background-color: #fff;
	min-width: 990px;
	
	/*border: 1px solid #eee;*/
	margin: 0;
	max-width: 1200px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior: url(PIE.htc)
}
#toplinks {
/*	height: 43px;
*/	width: 100%;
	padding: 10px 5px 0px 35px;
	margin: 0px;
	background-color: #fff;
	font-size: 12px;
	color:#2A2A2A ;

}
#toplinks a {
	font-family: tahoma;
	font-size: 12px;
	color: #96A929;
	text-decoration: none
}
#toplinks a:hover {
	text-decoration: underline
}
#contenido {
	display: inline-block;
	vertical-align: top;
	width: 68%;
	min-width: 550px;
	margin: 20px 10px 0 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box
}
#adsC {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin: 20px 0 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box
}
.cont_D {
	width: 60%;
	padding-right: 10px;
	display: inline-block;
	vertical-align: top
}
.cont_adss {
	width: 28%;
	min-width: 350px;
	display: inline-block;
	vertical-align: top
}
.cont_120 {
	width: 140px;
	padding: 5px;
	display: inline-block;
	vertical-align: top;
	border-right: 1px dashed #eee
}
.cont_120>div {
	margin: 10px 0
}
.cont_ads_120{
	width: 140px;
	padding: 5px;
	display: inline-block;
	vertical-align: top;
	border-right: 1px dashed #eee
}
.cont_ads_120 > div{
	width: 120px;
	height: 240px;
	/*overflow: hidden;*/
	
}
.cont_250 {
	width: 250px;
	padding: 5px;
	height: 100%;
	display: inline-block;
	vertical-align: top
}
;
	.cont_250>div {
	margin: 10px 0
}
#menusubtipo {
	width: 100%
}
#menusubtipo h2 {
	font-family: 'Oxygen', tahoma;
	font-size: 25px;
	color: #666;
	/*text-shadow: 1px 2px 3px #222*/
}
#menusubtipo ul {
	margin: 0;
	padding: 0
}
#menusubtipo li {
	display: inline-block;
	vertical-align: top;
	padding: 8px;
	margin:4px;
}
#menusubtipo li a {
	font-family: tahoma;
	font-size: 16px;
	color: #FF8040;
	text-decoration: none
}
#menusubtipo li:hover  {
	background-color:#96A929;
}
#menusubtipo li:hover >a  {
	text-decoration: underline;
	color: #fff; 
}
#menulat_subtipo{
	width: 80%;
	margin:10px;
	background-color: #EAEBE7

}
#menulat_subtipo> .title{
	width: 100%;

	background-color: #222;
	color:#96A929;
	font-size: 18px;
	padding:6px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box
}
#menulat_subtipo ul {
	padding: 0px;
	margin: 0px;
		list-style:none;


}
#menulat_subtipo ul li {
	list-style:none;
	border-bottom: 1px solid #222;
	color:#222;
	padding: 5px 0px 5px 10px
}
#menulat_subtipo ul li a {
	color:#222;
	text-decoration: none;
}
#relation {
	width: 100%
}
#relation>div.tituloint {
	width: 95%;
	border: 2px solid #222
}
#relation h2 {
	font-family: tahoma;
	font-size: 18px;
	color: #222;
	font-weight: 700;
	margin: 0;
	padding: 10px 0
}
.relactionItem {
	width: 100%;
	border-top: 1px solid #FF8000;
	margin: 8px 0;
	padding: 5px 0
}
.relactionItem h3 {
	margin: 0;
	padding: 0;
	text-decoration: none
}
.relactionItem h3 a {
	text-decoration: none;
	font-family: tahoma;
	font-size: 15px;
	color: #FF8000;
	font-weight: 700
}
.relactionItem h3 a:hover {
	text-decoration: underline
}
.relactionItem>div {
	display: inline-block;
	vertical-align: top;
	padding: 3px
}
.relactionItem p {
	font-family: tahoma;
	font-size: 12px;
	color: #222;
	margin: 0;
	padding: 0
}
.relactionItem div.intt {
	width: 62%
}
#imagenPag {
	margin: 0 0 30px;
	padding: 10px
}
#relation>div#buscadorC h2 {
	color: #ECF0D5;
	text-shadow: 1px 1px 1px #222
}
#fichasD {
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	behavior: url(PIE.htc)
}
#fichasD div {
	display: inline-block;
	vertical-align: top
}
#fichasD h1 {
	color: #96A929;
	padding: 0 0 0 30px;
	margin: 0px 0 15px 0;
	font-family: "Oxygen",arial;
	font-size: 35px;
	font-weight: 400
}
#ficha_info {
	width: 66%;
	min-width: 600px;
	margin: 0 5px 0 0;
	padding: 5px 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	behavior: url(PIE.htc)
}
#ficha_info li#Promociones {
	font-weight: 700;
	background-color: red;
	color: #FFF
}
#ficha_info li#Promociones.ui-tabs-active {
	background-color: #f9f9f9
}
#ficha_info li#Promociones a {
	color: #fff
}
#ficha_info li#Promociones.ui-tabs-active a {
	color: #222
}
#ficha_info .promociones {
	width: 100%
}
#ficha_info .promociones div {
	padding: 0 0 10px
}
#ficha_info .promociones h4 {
	margin: 0;
	padding: 3px 0;
	color: #FF8000
}
#ficha_info .promociones p {
	margin: 0;
	padding: 3px 0;
	color: #666;
	font-size: 12px
}
#ficha-tabs,#ficha-tabs2 {
	width: 95%;
	padding: 0;
	margin-bottom: 20px;
	border: 1px solid #eee;
	border-radius: 8px;
	background-color: #f9f9f9
}
#ficha-tabs .ui-tabs-nav,#ficha-tabs2 .ui-tabs-nav {
	background: #FF8040;
	border-width: 0 0 1px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 8px 8px 0 0;
	margin: 0;
	padding: 18px 0 0 5px
}
#ficha-tabs .ui-tabs-nav .ui-state-default,#ficha-tabs2 .ui-tabs-nav .ui-state-default {
	background: #ddd;
	font-size: 14px;
	text-shadow: 2px 1px 4px #fff
}
.tituloSocial {
	width: 100%;
	margin: 8px 0 0 2px;
	position: relative
}
.tituloSocial>div {
	vertical-align: middle
}
#share {
	position: absolute;
	top: 0;
	right: 0
}
#share>div {
	margin: 0 10px;
	display: inline-block
}
#ficha-tabs .ui-tabs-nav .ui-state-active,#ficha-tabs2 .ui-tabs-nav .ui-state-active {
	background: #f9f9f9;
	font-size: 14px;
	color: #96A929;
	font-weight: 700
}
#ficha_datos {
	width: 30%;
	padding: 5px;
	margin: 10px 0 0;
	background-color: #fff;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	behavior: url(PIE.htc)
}
#ficha_datos>div {
	padding: 8px;
	margin-bottom: 10px;
	background-color: #f9f9f9;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	behavior: url(PIE.htc)
}
#ficha_datos h2 {
	font-family: tahoma;
	font-size: 19px;
	color: #333;
	padding: 2px 0;
	margin: 0: 
}
#datos_alojar>p {
	font-family: tahoma;
	font-size: 11px;
	color: #666
}
#ficha_datos>div>p img {
	margin: 2px;
	vertical-align: middle
}
#listpag {
	width: 100%
}
#listpag>div {
	border-bottom: 1px #ccc dashed;
	width: 90%;
	margin: 10px 0;
	padding: 10px
}
#listpag>div:last-child {
	border-bottom: 0 #ccc dashed;
	width: 90%;
	margin: 10px 0;
	padding: 10px
}
#listpag>div div {
	display: inline-block;
	vertical-align: top
}
#listpag div.infoa {
	width: 60%;
	padding: 0 2%
}
#listpag div.infoa p {
	font-family: tahoma;
	font-size: 13px;
	color: #222;
	margin: 0;
	padding: 0
}
#listpag h2 {
	margin: 0;
	padding: 0
}
#listpag h2 a {
	font-family: tahoma;
	font-size: 18px;
	color: #222;
	margin: 4px 0;
	padding: 0;
	text-decoration: none
}
#listpag h2 a:hover {
	color: #FF8000
}
#listpag div.imag {
	width: 30%;
	height: auto
}
#listpag div.imag img {
	width: 100%;
	height: auto
}
.border-Corner {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	behavior: url(PIE.htc)
}
.borde-verde {
	border: 1px solid #96A929
}
.borde-gris {
	border: 1px solid #eee
}
#form>div {
	margin: 0;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	behavior: url(PIE.htc)
}
#form label {
	font-family: Tahoma;
	color: #222;
	font-size: 12px;
	padding: 7px 0 0 2px
}
#form .fechainput {
	background: url(../imagenes/calendar.jpg) right no-repeat;
	font-size: 11px
}
#form .fechadiv {
	width: 46%;
	margin: 0 6px 0 0;
	display: inline-block;
	vertical-align: top
}
#form input,#form textarea,#formmapas input {
	width: 90%;
	font-family: Tahoma;
	color: #96A929;
	font-size: 12px;
	font-weight: 700;
	padding: 7px;
	-pie-background: linear-gradient(bottom,#fafafa 0,#ebebe8 100%);
	background-image: -o-linear-gradient(bottom,#fafafa 0,#ebebe8 100%);
	background-image: -moz-linear-gradient(bottom,#fafafa 0,#ebebe8 100%);
	background-image: -webkit-linear-gradient(bottom,#fafafa 0,#ebebe8 100%);
	background-image: -ms-linear-gradient(bottom,#fafafa 0,#ebebe8 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#fafaf7),color-stop(1,#ebebe8));
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	margin: 7px 0;
	behavior: url(PIE.htc)
}
#form input:focus,#form textarea:focus,#formmapas input:focus {
	color: #222;
	border: 2px solid #96A929
}
#enviado button,#form button,#formmapas button {
	cursor: pointer;
	margin: 10px 0 0 30px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	color: #fcfcfc;
	padding: 10px 15px;
	-pie-background: linear-gradient(top,#157be8 0,#15b0e8);
	background: -moz-linear-gradient(top,#157be8 0,#15b0e8);
	background: -webkit-gradient(linear,left top,left bottom,from(#157be8),to(#15b0e8));
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	border: 1px solid #4319e8;
	-moz-box-shadow: 0 1px 3px rgba(000,000,000,.4),inset 0 0 0 rgba(189,240,233,1);
	-webkit-box-shadow: 0 1px 3px rgba(000,000,000,.4),inset 0 0 0 rgba(189,240,233,1);
	box-shadow: 0 1px 3px rgba(000,000,000,.4),inset 0 0 0 rgba(189,240,233,1);
	text-shadow: 0 -1px 0 rgba(000,000,000,.2),0 1px 0 rgba(124,209,230,1);
	behavior: url(PIE.htc)
}
#enviado button:hover,#form button:hover,#formmapas button:hover {
	background: #157be8
}
#form div#loading {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #FFF;
	background-color: rgba(255,255,255,.8);
	opacity: .8;
	filter: alpha(opacity=80);
	-moz-opacity: .8;
	-webkit-opacity: .8
}
#form div#loading img {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 50%;
	left: 50%;
	margin: -16px 0 0 -16px
}
#form .error {
	border: 1px solid red;
	color: red
}
#form2 {
	border: 2px dashed #eee;
	margin: 10px;
	padding: 10px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	behavior: url(PIE.htc)
}
#form2 h2 {
	margin: -25px 0 0 10px;
	width: 200px;
	color: #6CB6FF;
	background-color: #fff
}
#form2>div {
	margin: 0 5px;
	width: 22%;
	display: inline-block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	behavior: url(PIE.htc)
}
#form2 label {
	font-family: Tahoma;
	color: #222;
	font-size: 12px;
	padding: 7px 0 0 2px
}
#form2 .fechainput {
	background: url(../imagenes/calendar.jpg) right no-repeat;
	font-size: 11px
}
#form2 .fechadiv {
	width: 46%;
	margin: 0 6px 0 0;
	display: inline-block;
	vertical-align: top
}
#form2 input,#form2 textarea {
	width: 90%;
	font-family: Tahoma;
	color: #96A929;
	font-size: 12px;
	font-weight: 700;
	padding: 7px;
	-pie-background: linear-gradient(bottom,#fafafa 0,#ebebe8 100%);
	background-image: -o-linear-gradient(bottom,#fafafa 0,#ebebe8 100%);
	background-image: -moz-linear-gradient(bottom,#fafafa 0,#ebebe8 100%);
	background-image: -webkit-linear-gradient(bottom,#fafafa 0,#ebebe8 100%);
	background-image: -ms-linear-gradient(bottom,#fafafa 0,#ebebe8 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#fafaf7),color-stop(1,#ebebe8));
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	margin: 7px 0;
	behavior: url(PIE.htc)
}
#form2 input:focus,#form2 textarea:focus {
	color: #222;
	border: 2px solid #96A929
}
#form2 button {
	cursor: pointer;
	margin: 10px 0 0 30px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	color: #fcfcfc;
	padding: 10px 15px;
	-pie-background: linear-gradient(top,#157be8 0,#15b0e8);
	background: -moz-linear-gradient(top,#157be8 0,#15b0e8);
	background: -webkit-gradient(linear,left top,left bottom,from(#157be8),to(#15b0e8));
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	border: 1px solid #4319e8;
	-moz-box-shadow: 0 1px 3px rgba(000,000,000,.4),inset 0 0 0 rgba(189,240,233,1);
	-webkit-box-shadow: 0 1px 3px rgba(000,000,000,.4),inset 0 0 0 rgba(189,240,233,1);
	box-shadow: 0 1px 3px rgba(000,000,000,.4),inset 0 0 0 rgba(189,240,233,1);
	text-shadow: 0 -1px 0 rgba(000,000,000,.2),0 1px 0 rgba(124,209,230,1);
	behavior: url(PIE.htc)
}
,#form2 button:hover {
	background: #157be8
}
#form2 div#loading {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #FFF;
	background-color: rgba(255,255,255,.8);
	opacity: .8;
	filter: alpha(opacity=80);
	-moz-opacity: .8;
	-webkit-opacity: .8
}
#form2 div#loading img {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 50%;
	left: 50%;
	margin: -16px 0 0 -16px
}
#form2 .error {
	border: 1px solid red;
	color: red
}
#consultaF {
	position: relative
}
#enviado {
	width: 100%;
	height: 100%;
	background-color: #FFF;
	position: absolute;
	top: 0;
	left: 0
}
#enviado div.text {
	padding: 30px 20px;
	font-family: tahoma;
	font-size: 14px;
	font-weight: 700;
	color: #666
}
#enviado div.buttonreset {
	width: 100%;
	padding: 10px 0
}
#enviado p.exito {
	color: #A9BE69;
	font-size: 18px;
	padding: 10px 0
}
#c_form_list {
	max-width: 550px
}
#c_form_list h2 {
	color: #666;
	font-family: Tahoma;
	font-size: 20px;
	padding: 5px 0;
	margin: 0;
	font-weight: 700
}
#form .form-IB {
	width: 25%;
	margin: 0 6px 0 0;
	display: inline-block;
	vertical-align: top
}
#form button.ib_button {
	display: inline-block;
	margin: 5px
}
#form_contact {
	width: 100%;
	margin: 20px 0
}
#form_contact>div {
	width: 70%;
	border: 1px #DCEA8E dashed;
	background-color: #FBFBFB;
	padding: 20px
}
#form_contact h2 {
	font-family: tahoma;
	font-size: 25px;
	padding: 0;
	margin: 0 0 15px;
	color: rgba(238,238,238,.8);
	text-shadow: 1px 4px 6px #FBFBFB,0 0 0 #000,1px 4px 6px #FBFBFB
}
#c_E_M {
	max-width: 550px
}
#c_E_M h2 {
	color: #666;
	font-family: Tahoma;
	font-size: 20px;
	padding: 5px 0;
	margin: 0;
	font-weight: 700
}
#c_E_M p {
	color: #666;
	font-family: Tahoma;
	font-size: 12px;
	margin: 0;
	padding: 0
}
#multiple {
	color: #fff;
	cursor: pointer;
	font-family: tahoma;
	font-size: 14px;
	padding: 10px 17px;
	margin: -20px 0 0 40px;
	-pie-background: linear-gradient(top,#fabf5a 0,#ff6803);
	background: -moz-linear-gradient(top,#fabf5a 0,#ff6803);
	background: -webkit-gradient(linear,left top,left bottom,from(#fabf5a),to(#ff6803));
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #ba4e06;
	-moz-box-shadow: -1px 2px 6px rgba(000,000,000,.6),inset 0 0 10px rgba(087,087,087,.1);
	-webkit-box-shadow: -1px 2px 6px rgba(000,000,000,.6),inset 0 0 10px rgba(087,087,087,.1);
	box-shadow: -1px 2px 6px rgba(000,000,000,.6),inset 0 0 10px rgba(087,087,087,.1)
}
#multiple a {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: #fff
}
#multiple:hover {
	background: #ff6803
}
.exitoE {
	width: 350px;
	font-family: tahoma;
	font-size: 13px;
	color: #222;
	background-color: #ECEED7;
	border-radius: 7px;
	padding: 10px
}
#map {
	width: 600px;
	height: 450px
}
#formmapas div.checkb {
	display: inline-block;
	width: 160px;
	padding: 10px;
	font-family: tahoma;
	font-size: 13px;
	color: #222;
	text-shadow: 1px 1px 2px #ccc;
	font-weight: 700
}
#formmapas div.placediv {
	display: none;
	font-family: tahoma;
	font-size: 13px;
	color: #222;
	text-shadow: 1px 1px 2px #ccc;
	font-weight: 700
}
#formmapas div.placediv input {
	display: inline-block
}
#formmapas input[type=checkbox].check_onof {
	display: none
}
#formmapas input[type=checkbox].check_onof +label {
	cursor: pointer;
	display: inline-block;
	width: 82px;
	height: 24px;
	background: url(../iconos/check_on_off.png) 0 0 no-repeat;
	text-indent: -1000em
}
#formmapas input[type=checkbox].check_onof:checked +label {
	background: url(../iconos/check_on_off.png) 0 -24px no-repeat
}
#formmapas input#Place:checked div.placediv {
	display: block
}
.opcionesh2 {
	margin: 0;
	padding: 0
}
div.vistaActualMap {
	margin: 15px 0;
	padding: 8px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background-color: #D3E8BF;
	color: #666;
	font-family: tahoma;
	font-size: 13px
}
div.vistaActualMap a {
	text-decoration: underline
}
#descripcion {
	font-family: tahoma;
	font-size: 14px;
	color: #333;
	width: 100%;
	padding: 15px 10px 8px
}
#servicios {
	width: 100%;
	padding: 15px 10px 8px
}
#servicios ul {
	margin: 0;
	padding: 0
}
#servicios ul li {
	list-style: none;
	font-family: tahoma;
	font-size: 14px;
	color: #333;
	padding: 5px 8px 8px 10px;
	display: inline-block;
	vertical-align: top
}
#servicios ul li img {
	margin: 0 8px 0 0
}
#tipo_galery {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	behavior: url(PIE.htc)
}
#tipo_galery div {
	display: inline-block;
	padding: 8px;
	margin: 5px;
	border: 1px solid #ddd;
	box-shadow: -2px 3px 7px #666
}
#tipo_galery img {
	width: 300px;
	height: 200px
}
#tipo_galery h2 {
	padding: 0;
	margin: 0
}
#tipo_galery h2 a {
	font-family: tahoma;
	font-size: 16px;
	color: #222;
	padding: 5px 0;
	margin: 0;
	text-decoration: none
}
#tipo_galery h2 a:hover {
	color: #FF6803
}
#tipo_galery p {
	font-family: tahoma;
	font-size: 12px;
	color: #666;
	padding: 5px 0;
	margin: 0
}
#galeria_light {
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	behavior: url(PIE.htc)
}
#galeria_light div {
	display: inline-block;
	padding: 5px
}
#galeria_light img {
	width: 150px;
	height: auto
}
#videostube {
	width: 100%;
	padding: 5px
}
#videostube div {
	display: inline-block;
	padding: 8px;
	margin: 10px;
	border: 1px solid #ddd;
	box-shadow: -2px 3px 7px #666
}
#videostube img {
	width: 290px;
	height: auto
}
#videostube h2 {
	padding: 0;
	margin: 0
}
#videostube h2 a {
	font-family: tahoma;
	font-size: 16px;
	color: #222;
	padding: 5px 0;
	margin: 0;
	text-decoration: none
}
#videostube h2 a:hover {
	color: #FF6803
}
#footer2 {
	width: 100%;
	background-color: #fff;
	position: relative
}
.fotterTop {
	height: 50px;
	padding: 10px;
	box-shadow: 0 2px 4px #ccc;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	behavior: url(PIE.htc)
}
.fotterTop .follow {
	font-family: "Times New Roman";
	margin: 0 10px 0 0;
	font-size: 20px;
	font-weight: 700;
	color: #222
}
.fotterTop img {
	padding: 0 6px;
	vertical-align: middle
}
.imagico {
	width: 35px;
	height: 35px;
	margin: 0 6px;
	cursor: pointer
}
.icofacebook {
	background: url(../iconos/fb_1.png) no-repeat;
	margin-top: 0
}
.icofacebook:hover {
	background: url(../iconos/fb_12.png) no-repeat
}
.icotwitter {
	background: url(../iconos/twitter_1.png) no-repeat;
	margin-top: 0
}
.icotwitter:hover {
	background: url(../iconos/twitter_12.png) no-repeat
}
.icogoogle {
	background: url(../iconos/google_plus.png) no-repeat;
	margin-top: 0
}
.icogoogle:hover {
	background: url(../iconos/google_plus2.png) no-repeat
}
.icopinterest {
	background: url(../iconos/pinterest.png) no-repeat;
	margin-top: 0
}
.icopinterest:hover {
	background: url(../iconos/pinterest2.png) no-repeat
}
.fotterTop>div {
	width: 80%;
	min-width: 990px;
	max-width: 1200px;
	padding: 0 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	behavior: url(PIE.htc)
}
.fotterTop>div div {
	display: inline-block;
	vertical-align: middle
}
.footerBottom {
	width: 80%;
	max-width: 1200px;
	min-width: 990px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	behavior: url(PIE.htc)
}
.footerBottom>div {
	display: inline-block;
	padding: 10px 12px;
	margin: 0 15px;
	vertical-align: top
}
.footerBottom>div.imag {
	margin: 0 40px 0 0
}
.footerBottom>div.imag img {
	width: 240px;
	height: auto;
	margin: 30px 0 0
}
.footerBottom>div h3 {
	font-family: tahoma;
	font-size: 13px;
	color: #FF6803;
	margin-bottom: 5px;
	padding: 0;
	font-weight: 400
}
.footerBottom>div ul {
	margin: 0;
	padding: 0
}
.footerBottom>div ul li {
	list-style: disc;
	color: #FF6803;
	padding: 4px 0
}
.footerBottom>div ul li a {
	font-family: tahoma;
	font-size: 11px;
	color: #666;
	text-decoration: none
}
.footerBottom>div ul li a:hover {
	color: #FF6803;
	text-decoration: underline
}
.footerBottom2 {
	width: 100%;
	margin: 0;
	background-color: #222;
	padding: 8px 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	behavior: url(PIE.htc)
}
.footerBottom2 div {
	width: 80%;
	min-width: 990px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	behavior: url(PIE.htc)
}
.footerBottom2 div span.title {
	color: #CDD98C;
	font-size: 12px;
	padding: 0 20px 0 0;
	font-family: arial;
	font-weight: 700
}
.footerBottom2 div span {
	padding: 0 5px
}
.footerBottom2 div span a {
	color: #ccc;
	font-size: 11px;
	font-family: arial;
	text-decoration: none
}
.footerBottom2 div span a:hover {
	text-decoration: underline
}
div.ui-datepicker {
	font-size: 12px
}
#ui-datepicker-div {
	z-index: 1102!important
}
div.ui-datepicker {
	z-index: 9999!important
}
.block {
	display: block
}
.pagination {
	margin: 20px 0
}
.pagination ul {
	display: inline-block;
	*display: inline;
	margin-bottom: 0;
	margin-left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	*zoom: 1;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05)
}
.pagination ul>li {
	display: inline
}
.pagination ul>li>a,.pagination ul>li>span {
	float: left;
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	border-left-width: 0;
	color: #A4BA49
}
.pagination ul>.active>a,.pagination ul>.active>span,.pagination ul>li>a:hover {
	background-color: #f5f5f5
}
.pagination ul>.active>a,.pagination ul>.active>span {
	color: #999;
	cursor: default
}
.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>span {
	color: #999;
	cursor: default;
	background-color: transparent
}
.pagination ul>li:first-child>a,.pagination ul>li:first-child>span {
	border-left-width: 1px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topleft: 4px
}
.pagination ul>li:last-child>a,.pagination ul>li:last-child>span {
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px
}
.opaco {
	opacity: .6;
	-moz-opacity: .6;
	-webkit-opacity: .6
}
.close {
	background: url(../imagenes/close.png) no-repeat;
	position: absolute;
	cursor: pointer;
	top: -10px;
	right: -10px;
	width: 30px;
	height: 30px
}
#disenoweb {
	width: 100%;
	border-top: 1px dashed #DDD
}
#disenoweb img {
	margin: 0 20px;
	vertical-align: middle
}
#disenoweb span {
	font-family: tahoma;
	font-size: 12px;
	padding: 0 0 0 10px
}
.ocultar {
	display: none
}
.aguarde {
	font-family: tahoma;
	font-size: 16px;
	font-weight: 700
}
.enviando {
	background-color: #EAF0DB;
	border-radius: 10px;
	font-family: tahoma;
	font-size: 14px;
	color: #666;
	margin: 10px 0;
	padding: 10px;
	width: 430px
}
#buscaRight {
	display: inline-block;
	width: 70%;
	padding: 10px
}
#buscaLeft {
	display: inline-block;
	width: 25%;
	min-width: 260px;
	padding: 5px;
	border: 0 solid #eee;
	vertical-align: top
}
#filtrosup {
	width: 90%;
	padding: 10px 2%;
	background-color: #E2E2E2;
	color: #000;
	font-size: 14px;
	vertical-align:  middle;
	 font-family: verdana
}
#filtrosup select {
	font-size: 14px;
	padding: 8px 15px;
	color: #000;
}
.list_B {
	width: 90%;
	border-bottom: 1px #ccc solid;
	margin: 10px 0;
	box-shadow: 0 1px 2px #9A9A9A;
	padding: 5px 3px 10px 5px;
	cursor: pointer
}
.list_B:hover {
	background-color: #F3F7DF
}
.list_B p.descp {
	color: #666;
	font-family: tahoma;
	font-size: 12px
}
.list_B div.imag {
	display: inline-block;
	width: 28%;
	vertical-align: top
}
.list_B div.imag img {
	width: 90%;
	height: auto;
	border: 0 #96A929 solid
}
.list_B div.info {
	display: inline-block;
	width: 70%;
	vertical-align: top
}
.list_B div.info div.infal {
	display: inline-block;
	width: 69%;
	vertical-align: top;
	padding: 2%
}
.list_B >div.info div.infal h2 {
	color: #96A929;
	font-family: Tahoma;
	font-size: 20px;
	margin: 0;
	padding: 0 0 5px
}
.list_B >div.info div.infal h2:hover {
	text-decoration: underline
}
.list_B >div.info div.infal .localidad {
	font-size: 11px;
	color: #666;
	padding: 0;
	margin: 0
}
.list_B >div.info div.infal p {
	margin: 0;
	padding: 2px 0
}
.list_B div.info div.price {
	display: inline-block;
	width: 22%;
	vertical-align: top;
	padding: 2%;
	color: #ccc;
	font-size: 14px;
	font-weight: 700
}
.list_B div.hab {
	width: 97%;
	margin: 5px 0 0 2%;
	color: #61A5DC;
	font-size: 12px
}
.list_B div.cantdias {
	width: 100%;
	border-top: #96A929 1px solid
}
.list_B div.cantdias div {
	background-color: #96A929;
	width: 22%;
	padding: 3px;
	color: #fff;
	font-size: 11px;
	font-weight: 700
}
.hab>div {
	padding: 5px 0 0
}
.hab>.namehab {
	width: 46%;
	display: inline-block;
	vertical-align: middle;
	padding: 0 0 5px
}
.hab>.namehab .porc-oferta {
	color: red;
	font-weight: 700
}
.hab>.desy {
	width: 28%;
	display: inline-block;
	vertical-align: middle;
	padding: 0 0 5px
}
.hab>.pricexhab {
	width: 22%;
	display: inline-block;
	vertical-align: middle;
	color: #2876B5;
	font-weight: 700;
	padding: 0 0 5px
}
.hab>.pricexhab .tachado {
	text-decoration: line-through;
	color: #ccc;
	padding: 0 5px
}
.price button.selecA {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	color: #fff;
	margin: 5px 0;
	padding: 10px 20px;
	-pie-background: linear-gradient(top,#ffa319 0,#ba7611);
	background: -moz-linear-gradient(top,#ffa319 0,#ba7611);
	background: -webkit-gradient(linear,left top,left bottom,from(#ffa319),to(#ba7611));
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border: 1px solid #7d5300;
	-moz-box-shadow: 0 1px 3px rgba(000,000,000,.5),inset 0 0 2px rgba(255,255,255,.7);
	-webkit-box-shadow: 0 1px 3px rgba(000,000,000,.5),inset 0 0 2px rgba(255,255,255,.7);
	box-shadow: 0 1px 3px rgba(000,000,000,.5),inset 0 0 2px rgba(255,255,255,.7);
	text-shadow: 0 2px 0 rgba(000,000,000,.2),0 1px 0 rgba(255,255,255,0);
	font-weight: 700;
	behavior: url(PIE.htc)
}
.price button.selecA:hover {
	text-decoration: underline
}
.price button.consulta {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	color: #666;
	margin: 5px 0;
	padding: 10px 20px;
	-pie-background: linear-gradient(top,#f0ede8 0,#c4c2be);
	background: -moz-linear-gradient(top,#f0ede8 0,#c4c2be);
	background: -webkit-gradient(linear,left top,left bottom,from(#f0ede8),to(#c4c2be));
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border: 0 solid #7d5300;
	-moz-box-shadow: 0 1px 3px rgba(000,000,000,.5),inset 0 0 2px rgba(255,255,255,.7);
	-webkit-box-shadow: 0 1px 3px rgba(000,000,000,.5),inset 0 0 2px rgba(255,255,255,.7);
	box-shadow: 0 1px 3px rgba(000,000,000,.5),inset 0 0 2px rgba(255,255,255,.7);
	text-shadow: 0 2px 0 rgba(000,000,000,.2),0 1px 0 rgba(255,255,255,0);
	font-weight: 700;
	behavior: url(PIE.htc)
}
.price button.consulta:hover {
	text-decoration: underline
}
.price h3.precio {
	color: #292521;
	font-size: 22px;
	font-weight: 700;
	padding: 5px 0;
	margin: 0
}
.price .tarN {
	text-decoration: line-through;
	color: #ccc;
	padding: 0 5px;
	font-size: 15px
}
#Busca-Busca {
	width: 98%;
	margin: 10px 0;
	padding: 8px;
	background-color: #FF8040;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	ox-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	behavior: url(PIE.htc)
}
#Busca-Busca h2 {
	font-family: arial;
	font-size: 24px;
	margin: 0;
	padding: 0 0 5px;
	color: #FEFEFE;
	text-shadow: 1px 1px 1px #222
}
#Busca-Busca label {
	font-size: 12px;
	font-family: Tahoma;
	color: #FFF;
	font-weight: 700
}
#Busca-Busca div {
	width: 95%;
	padding: 2px;
	margin: 5px;
	vertical-align: top
}
#Busca-Busca input {
	background: #FFF url(../imagenes/calendar.jpg) right no-repeat;
	width: 85%;
	height: 20px;
	padding: 5px;
	border: 1px #666 solid;
	margin: 7px 2px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	behavior: url(PIE.htc);
	font-size: 12px;
	font-family: Tahoma;
	color: #222
}
#Busca-Busca select {
	height: 29px;
	padding: 5px;
	border: 1px #666 solid;
	margin: 7px 2px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	behavior: url(PIE.htc);
	font-size: 12px;
	font-family: Tahoma;
	color: #222
}
#Busca-Busca div.select {
	width: 58%
}
#Busca-Busca div.buttondiv {
	min-width: 28%
}
#Busca-Busca button {
	margin: 15px 0 0;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	color: #fff;
	padding: 10px 5px;
	-pie-background: linear-gradient(top,#bec73b 0,#73821d);
	background: -moz-linear-gradient(top,#bec73b 0,#73821d);
	background: -webkit-gradient(linear,left top,left bottom,from(#bec73b),to(#73821d));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 7px;
	border: 1px solid #2e3d05;
	-moz-box-shadow: 0 1px 3px rgba(000,000,000,.5),inset 0 0 1px rgba(255,255,255,.6);
	-webkit-box-shadow: 0 1px 3px rgba(000,000,000,.5),inset 0 0 1px rgba(255,255,255,.6);
	box-shadow: 0 1px 3px rgba(000,000,000,.5),inset 0 0 1px rgba(255,255,255,.6);
	text-shadow: 0 -1px 0 rgba(000,000,000,.2),0 1px 0 rgba(255,255,255,.2);
	behavior: url(PIE.htc)
}
#Busca-Busca button:hover {
	background: #73821d
}
#res0800 {
	padding: 10px;
	margin: 20px 0
}
#res0800 .reservar {
	font-family: verdana;
	font-size: 17px;
	color: #222;
	font-weight: 700
}
#res0800 .r0800 {
	font-family: verdana;
	font-size: 25px;
	color: #FF8040;
	padding: 10px 0;
	font-weight: 700
}
#res0800 .infohora {
	font-family: verdana;
	font-size: 12px;
	color: #666;
	font-weight: 400
}
#habtable {
	width: 90%;
	padding: 10px;
	margin-bottom: 20px;
	display: block
}
table.habit {
	width: 100%
}
table.habit tr.cabecera {
	background-color: #eee;
	color: #222;
	font-weight: 400;
	font-size: 12px
}
table.habit tr.cabecera td {
	padding: 5px;
	height: 20px
}
table.habit tr {
	border: 1px solid #eee
}
table.habit tr td {
	padding: 5px;
	font-size: 12px;
	font-weight: 400
}
td.namehab {
	width: 30%;
	font-size: 13px;
	font-weight: 700;
	color: #99B342;
	vertical-align: middle
}
td.namehab span {
	padding: 10px 0 0
}
td.namehab img {
	float: left;
	padding: 5px;
	width: 80px;
	height: auto;
	vertical-align: middle
}
td.tarifa {
	color: #C7CA8A;
	font-size: 15px;
	font-weight: 700
}
td.tarifa span.oferta {
	color: #ccc;
	text-decoration: line-through
}
table.habit ul {
	padding: 0;
	margin: 0
}
table.habit ul li {
	padding: 5px 0;
	list-style-type: disc
}
.descuentohab {
	color: red
}
td#totalreserva {
	max-width: 70px;
	color: #FF8000;
	font-weight: 700;
	font-size: 18px
}
td#totalreserva button {
	background-color: #2198D1;
	font-size: 13px;
	margin: 7px 0;
	color: #FFF;
	border: 0;
	box-shadow: 0;
	padding: 7px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	behavior: url(PIE.htc)
}
td#totalreserva button:hover {
	background-color: #18739E
}
#data_estadia {
	font-family: tahoma;
	font-size: 12px;
	padding: 10px;
	text-align: left
}
#data_estadia input {
	font-family: tahoma;
	font-size: 12px;
	font-weight: 700
}
#data_estadia button {
	background-color: #FF8000;
	color: #FFF;
	border: 0;
	box-shadow: 0;
	padding: 7px;
	font-size: 12px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	behavior: url(PIE.htc)
}
#data_estadia button:hover {
	background-color: #D74600
}
.div_reserva {
	width: 100%;
	padding: 0
}
form.form_reserva {
	width: 90%;
	padding: 0 4% 2%
}
.form_reserva>div {
	width: 100%;
	background: #eee
}
.form_reserva div>div {
	display: inline-block;
	padding: 10px 2%;
	width: 45%
}
.form_reserva div>div>div {
	width: 100%
}
.form_reserva input,.form_reserva select {
	width: 100%;
	border: #666;
	height: 28px;
	padding: 4px;
	-moz-box-shadow: inset 0 2px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.5);
	box-shadow: inset 0 2px 3px rgba(0,0,0,.5)
}
.form_reserva textarea {
	width: 95%;
	border: #666;
	padding: 4px;
	margin: 5px 10px;
	-moz-box-shadow: inset 0 2px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.5);
	box-shadow: inset 0 2px 3px rgba(0,0,0,.5)
}
.form_reserva label {
	padding: 8px 0
}
.form_reserva button {
	float: right;
	margin: 20px 30px 10px 0;
	background-color: #FF8000;
	color: #FFF;
	border: 0;
	box-shadow: 0;
	padding: 10px 15px;
	font-size: 16px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	behavior: url(PIE.htc)
}
.form_reserva button:hover {
	background-color: #D74600
}
.margin_p {
	padding: 10px;
	font-size: 12px
}
.descrip_MP h3 {
	font-size: 17px;
	margin: 0;
	padding: 4px 0
}
.descrip_MP span {
	font-size: 12px;
	color: #666
}
.descrip_MP span.sena {
	font-size: 15px;
	color: #FF8000;
	margin: 4px 0
}
.descrip_MP span.llegar {
	font-size: 14px;
	color: #222
}
.titulo_DR {
	padding: 10px;
	margin-top: -20px;
	border-radius: 10px;
	background-color: #20211D;
	color: #fff
}
.titulo_DR>span {
	padding: 0;
	margin: 0;
	color: #FFF;
	font-size: 20px;
	font-weight: 700
}
.cont_DR {
	border: 1px #ccc dashed
}
.cont_DR >h3 {
	font-size: 15px;
	margin: 0;
	padding: 10px 0 4px
}
.total-reservas {
	width: 100%;
	margin: 20px 0
}
.total-reservas>h3 {
	padding: 0;
	margin: 0;
	font-weight: 400;
	color: #96A929
}
.total-reservas>h3 .monto-total {
	font-size: 25px;
	padding: 0;
	font-weight: 700
}
.total-reservas>h3 .moneda {
	padding: 0 0 0 20px
}
.total-reservas p {
	font-size: 12px;
	color: #666;
	margin: 0
}
.datos-habitacion {
	width: 100%
}
.datos-habitacion ul {
	padding: 0;
	margin: 0
}
.datos-habitacion ul li {
	list-style: none;
	padding: 3px 0;
	margin: 0;
	font-size: 12px
}
.datos-habitacion ul li div {
	display: inline-block;
	padding: 1%
}
.datos-habitacion ul li .nombre-hab {
	width: 36%
}
.datos-habitacion ul li .tarifa-hab {
	width: 32%;
	font-weight: 700
}
.datos-habitacion ul li .cant-hab {
	width: 18%
}
.datos-estadia {
	width: 100%;
	margin: 13px 0 0
}
.datos-estadia .datos-alojar {
	width: 100%
}
.datos-estadia .title {
	font-size: 15px;
	font-weight: 700;
	padding: 5px 0
}
.datos-estadia .datos-alojar img {
	float: left;
	max-width: 39%;
	border: 2px solid #FFF;
	padding: 0 7px
}
.datos-estadia .datos-alojar h3 {
	color: #3287D0;
	margin: 0;
	padding: 5px 0;
	font-size: 12px
}
.datos-estadia .datos-alojar p {
	font-size: 10px;
	color: #666;
	margin: 0;
	padding: 0
}
.datos-estadia .fechas div {
	font-size: 14px;
	width: 86%;
	padding: 7px
}
#prueba {
	width: 100px;
	display: inline-block
}
#bookingcom1 {
	background-color:#7B9F39 !important;
	color:#FFF;
}
#bookingcom1 div.fechas{ 
display: inline-block;
width: 42%;
margin:8px 5px;
}
#bookingcom1 input {
	background: #FFF url(../imagenes/calendar.jpg) right no-repeat;
	width: 100%;
	height: 20px;
	padding: 5px;
	border: 1px #666 solid;
	margin: 7px 2px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	behavior: url(PIE.htc);
	font-size: 12px;
	font-family: Tahoma;
	color: #222
	}
#bookingcom1 button {
	background-color:#7B9F39;
	border:solid 1px #fff;
	color:#fff;
	padding: 8px; 
	margin: 0 0 0 10px;
}
#bookingcom1 button:hover {
	background-color:#fff;
	color:#989641;
}
#bookingcom1 h2 {
	margin: 4px;
	padding: 4px;
	color:#FFF;

}


/*BOOKING AMARILLO*/

#bookingcom2 {
	background-color:#FABC03 !important;
	color:#0753C5;
}
#bookingcom2 div.fechas{ 
display: inline-block;
width: 42%;
margin:8px 5px;
}
#bookingcom2 input {
	background: #FFF url(../imagenes/calendar.jpg) right no-repeat;
	width: 100%;
	height: 20px;
	padding: 5px;
	border: 1px #666 solid;
	margin: 7px 2px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	behavior: url(PIE.htc);
	font-size: 12px;
	font-family: Tahoma;
	color: #222
	}
#bookingcom2 button {
	background-color:#0753C5;
	border:solid 1px #0753C5;
	color:#FABC03;
	padding: 8px; 
	margin: 0 0 0 10px;
}
#bookingcom2 button:hover {
	background-color:#FFF;
	color:#0753C5;
}
#bookingcom2 h2 {
	margin: 4px;
	padding: 4px;
	color:#FFF;

}
#bookingcom2 .bookinglogo {
	float: right;
	height: 30px;
	width: 160px;
	overflow:hidden 
	
}
#bookingcom2 .bookinglogo img {
	height: 30px;
	width: auto;
}
/*------------------------------*/


.reservabooking {
	padding: 10px;
	background-color: #174A84;
	color:#F1BD0A;

	border: 0px;
	font-size: 13px;
	
}
button.reservabooking:hover {
	text-decoration: underline;
}
#dir_ .reservaonline,#dir_dest .reservaonline {
	position: absolute;
	z-index: 980;
	top: 0;
	left: 0;
	padding: 0;
	margin: -10px 0px 0 -10px;
	border: 0;
	width: 80px;
	height: 80px;
	background: url(../imagenes/reserva_on_line2.png) no-repeat
}

#pagina-slider{width: 100%;
  height: 480px !important;
overflow: hidden !important;
margin-bottom: 80px;
position: relative;}
/*------------------------------------------------------------------*/
/*					NUEVO HOME 										*/
/*------------------------------------------------------------------*/
#alojar_desta {padding:25px 0px 15px 0px; background-color:#F0F0F0 }
#alojar_desta h2 {font-size: 50px; font-family: "Averia Libre",arial; color:#444444; margin-bottom:5px ; margin-top: 10px}
#destacado_post{padding:25px 0px 15px 0px; background-color:#FFF }
#destacado_post h2,#noticias_new h2  {font-size: 50px; font-family: "Averia Libre",arial; color:#444444; margin-bottom:5px ; margin-top: 10px}
#noticias_new{
	padding:25px 0px 15px 0px;
	background-color: #D0DF7B;
	
}
#noticias_new h2 {color:#222222 !important;}

#cont_alojar {
	position: relative;
	padding: 0px 0px 40px 0.2%;

	/*height: 500px;*/
}

#cont_alojar  div.item-alojar{
	width: 24.8%;
	min-width: 270px;
	border:0px;
		/*height:220px;*/
	/*float:left;*/
	/*background-color: green;*/
	height: 250px;
	overflow: hidden;
	position: relative;
}
#cont_alojar div.item-alojar a>img{
	width: 100%;
	height: auto;
	min-height: 250px;

}
#cont_alojar  div.item-alojar >.info_alojar {
	position: absolute;
	z-index: 9990;
	bottom: 0;
	left:0;
	width: 100%;
	background-color: rgba(10,10,10,0.7);

}
#cont_alojar div.item-alojar:hover a >img{
	opacity: .8
	}
#cont_alojar  div.item-alojar:hover >.info_alojar {
	position: absolute;
	bottom: 0;
	left:0;
	width: 100%;
	
	background-color: rgba(150,169,41,0.85);

}

.info_alojar h3 {
	color:#FFF;
	font-family: "Averia Libre", tahoma;
	font-size:15px !important;
	font-weight: normal !important;
	margin: 0;
	padding: 11px 0px 11px 10px;
}
.info_alojar h3 a{
	color:#FFF;
	font-family: tahoma;
	font-size:15px;
	margin: 0;
	padding: 7px 0px 0px 10px;
	text-decoration: none;
}
.info_alojar h3 a:hover{
	text-decoration: underline;
	}
.info_alojar p {
	padding: 3px 3px 8px 8px;
	margin: 0px;
	font-size: 10px;
}
#btn-filtros { list-style-type: none;list-style: none}
#btn-filtros button {
	display: inline-block;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #fff;
	border: 1px solid #96A929;
	color:#96A929;
	padding: 6px 15px;
	margin: 10px;
	 }
	 #btn-filtros button:hover {
	 	background-color: #96A929;
	 	color:#fff;
	 };
	 #btn-filtros button.active {
	 	background-color: #96A929;
	 }
/* CARUSEL  PARA Circuito Turistico  HOME */
#cont_caruselcirc {
	width: 96%;
	margin: 20px 0px 40px 0px;
/*	padding: 20px 8%;*/
	
}
#caruselcirc {
	width: 100%;
	position: relative;
	height: 350px;
	

	
}
#caruselcirc div.scrollableArea div {
	width: 300px;
	height: 350px;
	padding: 10px 10px;

	position: relative;
	float: left
}

div.caruselcirc img {
	width: 100%;
	height: 200px
}
div.caruselcirc h3 {
	margin: 0;
	padding: 3px 0;
	font-family: arial;
	font-size: 18px;
	color: #FF8040;
	position: relative
}
div.caruselcirc h3 a {
	margin: 0;
	padding: 3px 0;
	font-family: arial;
	font-size: 18px;
	color: #FF8040;
	text-decoration: none
}
div.caruselcirc h3 a:hover {
	text-decoration: underline
}
div.caruselcirc p {
	margin: 0;
	padding: 3px 0;
	font-family: arial;
	font-size: 13px;
	color: #fff
}

/* 
Mobile MENU
*/
#menu-mobile {width: 100%;display: none;background-color: #000}
#menu-mobile>img {display: inline-block;width: 50%;vertical-align:middle; height: auto;}
#menu-mobile>div {margin-left:5%;display: inline-block;vertical-align:middle; width: 20%;}
#menu-icon {
	color: #000;
	width: 42px;
	height: 30px;
	background: #ecebeb url(../iconos/menu-icon.png) no-repeat 10px center;
	padding: 8px 10px 0 42px;
	cursor: pointer;
	border: solid 1px #666;
	display: block; /* show menu icon */
	}
#nav-mobile {
	clear: both;
	position: absolute;
	top: 38px;
	
	z-index: 10000;
	padding: 5px;
	background: #f8f8f8;
	border: solid 1px #999;
	display: none; /* visibility will be toggled with jquery */
}
#nav-mobile li {
	clear: both;
	float: none;
	margin: 5px 0 5px 10px;
}
#nav-mobile a, 
#nav-mobile ul a {
	font: inherit;
	background: none;
	display: inline;
	padding: 0;
	color: #666;
	border: none;
}